<div class="custom-header">
    <div class="_heading_1">Select Template</div>
</div>
<mat-dialog-content class="_pb-5">
    <div class="_pt-10 _pb-5">
        <div class="_flex-box">
            <mat-form-field appearance="outline" class="_w-100">
                <mat-label>Template</mat-label>
                <input matInput type="text" [formControl]="templateForm" [matAutocomplete]="templates">
                <mat-autocomplete #templates="matAutocomplete" [displayWith]="displayFn" (optionSelected)="handleOption()">
                    <mat-option *ngFor="let template of filteredTemplateList" [value]="template">
                        {{template.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="_mt-10">
            Template config: 
        </div>
        <div class="_mt-10">
            <div *ngIf="editorLoading">Loading editor</div>
            <ngx-monaco-editor class="_w-100 _overflow-hidden editor" [options]="editorOptions" [(ngModel)]="templateBody" (onInit)="onInit($event)">
            </ngx-monaco-editor>
        </div>
    </div>
</mat-dialog-content>
<div class="custom-footer">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="save()" cdkFocusInitial>Select</button>
</div>