$primary-color: #0091E5; // #0099d4
$orange-color: #ff8c00;
$black-color: #333132;
$green-color: #2ecd71;
$red-color: #e64d3c;
$purple-color: #7f5bbf;
$white-color: #ffffff;
$gray-color: #d6d8dd;
$light-gray: #f0f0f0;
$app-background-color: #f5f5f5;
$disabled-background-color: #edf1f6;
$default-background-color: #f5f5f5;
$selected-background-color: #f4f7f9;
$navbar-bg: #083662;
$stream-bg:#F4F7F9;
$box-shadow-color: rgba(0, 0, 0, 0.3);
$light-border-color: rgba(0, 0, 0, 0.1);
$mat-icon-color: #333132;
$light-black-color: #6d6d6d;
$logo-url: "/assets/images/blue-logo.png";
$highlight-color: #eeeeee;
$border-color: #e1e1e1;
$font-color: #333132;
$disabled-font-color: rgba(51, 49, 50, 0.55);
$scrollbar-color: #eeeeee;
$transparent-black: #151515e6;
$status-border-green: #c3e6cb;
$status-border-orange: #ffeeba;
$status-border-red: #f5c6cb;
$status-border-gray: #d6d8db;
$status-border-blue: #acd4ff;
$status-green: #28a745;
$status-orange: #ffc107;
$status-red: #dc3545;
$status-gray: #6c757d;
$status-blue: #17a2b8;
$status-text-green: #28a745;
$status-text-orange: #ffc107;
$status-text-red: #dc3545;
$status-text-gray: #6c757d;
$status-text-blue: #17a2b8;

// Fonts
@mixin heading-font {
  font-weight: 500 !important;
  font-size: 14px !important;
}

@mixin sub-heading-font {
  font-weight: 500 !important;
  font-size: 12px !important;
}

@mixin primary-text-font {
  font-weight: 400 !important;
  font-size: 14px !important;
}

@mixin light-primary-text-font {
  font-weight: 300;
  font-size: 14px;
}

@mixin secondary-text-font {
  font-weight: 400;
  font-size: 12px;
}

@mixin light-secondary-text-font {
  font-weight: 300;
  font-size: 12px;
}

@mixin special-text-font {
  font-weight: 300 !important;
  font-size: 12px !important;
  opacity: 0.8 !important;
}

@mixin disabled-text-font {
  font-weight: 300 !important;
  font-size: 14px !important;
  opacity: 0.4 !important;
}

// new fonts according to new design

@mixin regular_0 {
  font-size: 16px !important;
  font-weight: 400;
}
@mixin bold_0 {
  font-size: 16px !important;
  font-weight: 500 !important;
}
@mixin regular_1 {
  font-size: 14px !important;
  font-weight: 400;
}
@mixin bold_1 {
  font-size: 14px !important;
  font-weight: 500 !important;
}
@mixin regular_2 {
  font-size: 12px !important;
}
@mixin bold_2 {
  font-size: 12px !important;
  font-weight: 500 !important;
}
@mixin caption_regular {
  font-size: 11px !important;
}

@mixin caption_bold {
  font-size: 11px !important;
  font-weight: 500 !important;
}

@mixin border-general {
  border: 1px solid $border-color;
  border-radius: 12px;
}


@mixin mat-button-adj {
    max-height: 30px;
    display: flex;
    align-items: center;
}
@mixin bold_0 {
  font-weight: 500 !important;
  font-size: 16px !important;
  // letter-spacing: 0.06em;
}
@mixin regular_0 {
  font-size: 16px !important;
}
@mixin bold_1 {
  font-weight: 500 !important;
  font-size: 14px !important;
  // letter-spacing: 0.06em
}
@mixin regular_1 {
  font-size: 14px !important;
}
@mixin bold_2 {
  font-weight: 500 !important;
  font-size: 12px !important;
  // letter-spacing: 0.06em;
}
@mixin regular_2 {
  font-size: 12px !important;
}
@mixin caption_bold {
  font-weight: 500 !important;
  font-size: 11px !important;
  // letter-spacing: 0.06em
}
@mixin caption_regular {
  font-size: 11px !important;
}

@mixin padding-general {
  padding: 12px 16px !important;
}