
// position Top / Right / Bottom / Left 
.top_right_bottom_left-0	{ top: 0px; right: 0px; bottom: 0px;  left: 0px;  }
.top_right_bottom_left-px	{ top: 1px; right: 1px; bottom: 1px;  left: 1px;  }
.top_right_bottom_left-0\.5	{ top: 0.125rem; right: 0.125rem; bottom: 0.125rem;  left: 0.125rem;  } /* top_right_bottom_left-0\.5 = top_right_bottom_left-0.5 = 0.125rem = 2px */
.top_right_bottom_left-1	{ top: 0.250rem; right: 0.250rem; bottom: 0.250rem;  left: 0.250rem;  } /* 0.250rem = 4px */
.top_right_bottom_left-1\.5	{ top: 0.375rem; right: 0.375rem; bottom: 0.375rem;  left: 0.375rem;  } /* top_right_bottom_left-1\.5 = top_right_bottom_left-1.5 = 0.375rem = 6px */
.top_right_bottom_left-2	{ top: 0.500rem; right: 0.500rem; bottom: 0.500rem;  left: 0.500rem;  } /* 0.500rem = 8px */
.top_right_bottom_left-2\.5	{ top: 0.625rem; right: 0.625rem; bottom: 0.625rem;  left: 0.625rem;  } /* top_right_bottom_left-2\.5 = top_right_bottom_left-2.5 = 0.625rem = 10px */
.top_right_bottom_left-3	{ top: 0.750rem; right: 0.750rem; bottom: 0.750rem;  left: 0.750rem;  } /* 0.750rem = 12px */
.top_right_bottom_left-3\.5	{ top: 0.875rem; right: 0.875rem; bottom: 0.875rem;  left: 0.875rem;  } /* top_right_bottom_left-3\.5 = top_right_bottom_left-3.5 = 0.875rem = 14px */
.top_right_bottom_left-4	{ top: 1.000rem; right: 1.000rem; bottom: 1.000rem;  left: 1.000rem;  } /* 1.000rem = 16px */
.top_right_bottom_left-5	{ top: 1.250rem; right: 1.250rem; bottom: 1.250rem;  left: 1.250rem;  } /* 1.250rem = 20px */
.top_right_bottom_left-6	{ top: 1.500rem; right: 1.500rem; bottom: 1.500rem;  left: 1.500rem;  } /* 1.500rem = 24px */
.top_right_bottom_left-7	{ top: 1.750rem; right: 1.750rem; bottom: 1.750rem;  left: 1.750rem;  } /* 1.750rem = 28px */
.top_right_bottom_left-8	{ top: 2.000rem; right: 2.000rem; bottom: 2.000rem;  left: 2.000rem;  } /* 2.000rem = 32px */
.top_right_bottom_left-9	{ top: 2.250rem; right: 2.250rem; bottom: 2.250rem;  left: 2.250rem;  } /* 2.250rem = 36px */
.top_right_bottom_left-10	{ top: 2.500rem; right: 2.500rem; bottom: 2.500rem;  left: 2.500rem;  } /* 2.500rem = 40px */
.top_right_bottom_left-11	{ top: 2.750rem; right: 2.750rem; bottom: 2.750rem;  left: 2.750rem;  } /* 2.750rem = 44px */
.top_right_bottom_left-12	{ top: 3.000rem; right: 3.000rem; bottom: 3.000rem;  left: 3.000rem;  } /* 3.000rem = 48px */
.top_right_bottom_left-14	{ top: 3.500rem; right: 3.500rem; bottom: 3.500rem;  left: 3.500rem;  } /* 3.500rem = 56px */
.top_right_bottom_left-16	{ top: 4.000rem; right: 4.000rem; bottom: 4.000rem;  left: 4.000rem;  } /* 4.000rem = 64px */
.top_right_bottom_left-20	{ top: 5.000rem; right: 5.000rem; bottom: 5.000rem;  left: 5.000rem;  } /* 5.000rem = 80px */
.top_right_bottom_left-24	{ top: 6.000rem; right: 6.000rem; bottom: 6.000rem;  left: 6.000rem;  } /* 6.000rem = 96px */
.top_right_bottom_left-28	{ top: 7.000rem; right: 7.000rem; bottom: 7.000rem;  left: 7.000rem;  } /* 7.000rem = 112px */
.top_right_bottom_left-32	{ top: 8.000rem; right: 8.000rem; bottom: 8.000rem;  left: 8.000rem;  } /* 8.000rem = 128px */
.top_right_bottom_left-36	{ top: 9.000rem; right: 9.000rem; bottom: 9.000rem;  left: 9.000rem;  } /* 9.000rem = 144px */
.top_right_bottom_left-40	{ top: 10.000rem; right: 10.000rem; bottom: 10.000rem;  left: 10.000rem;  } /* 10.000rem = 160px */
.top_right_bottom_left-44	{ top: 11.000rem; right: 11.000rem; bottom: 11.000rem;  left: 11.000rem;  } /* 11.000rem = 176px */
.top_right_bottom_left-48	{ top: 12.000rem; right: 12.000rem; bottom: 12.000rem;  left: 12.000rem;  } /* 12.000rem = 192px */
.top_right_bottom_left-52	{ top: 13.000rem; right: 13.000rem; bottom: 13.000rem;  left: 13.000rem;  } /* 13.000rem = 208px */
.top_right_bottom_left-56	{ top: 14.000rem; right: 14.000rem; bottom: 14.000rem;  left: 14.000rem;  } /* 14.000rem = 224px */
.top_right_bottom_left-60	{ top: 15.000rem; right: 15.000rem; bottom: 15.000rem;  left: 15.000rem;  } /* 15.000rem = 240px */
.top_right_bottom_left-64	{ top: 16.000rem; right: 16.000rem; bottom: 16.000rem;  left: 16.000rem;  } /* 16.000rem = 256px */
.top_right_bottom_left-72	{ top: 18.000rem; right: 18.000rem; bottom: 18.000rem;  left: 18.000rem;  } /* 18.000rem = 224px */
.top_right_bottom_left-80	{ top: 20.000rem; right: 20.000rem; bottom: 20.000rem;  left: 20.000rem;  } /* 20.000rem = 224px */
.top_right_bottom_left-96	{ top: 24.000rem; right: 24.000rem; bottom: 24.000rem;  left: 24.000rem;  } /* 24.000rem = 224px */
.top_right_bottom_left-auto	{ top: auto; right: auto; bottom: auto;  left: auto;  } 
.top_right_bottom_left-1\/2	{ top: 50%; right: 50%; bottom: 50%;  left: 50%;  } /* top_right_bottom_left-1\/2 = top_right_bottom_left-1/2 */
// .top_right_bottom_left-1/2	{ top: calc(100% / 2); right: calc(100% / 2); bottom: calc(100% / 2);  left: calc(100% / 2);  } /* top_right_bottom_left-1\/2 = top_right_bottom_left-1/2 = top_right_bottom_left-50%  */
.top_right_bottom_left-1\/3	{ top: 33.3333333%; right: 33.3333333%; bottom: 33.3333333%;  left: 33.3333333%;  } /* top_right_bottom_left-1\/3 = top_right_bottom_left-1/3 = top_right_bottom_left-33.3333333%*/
// .top_right_bottom_left-1\/3	{ top: calc(100% / 3); right: calc(100% / 3); bottom: calc(100% / 3);  left: calc(100% / 3);  } /* top_right_bottom_left-1\/3 = top_right_bottom_left-1/3 = top_right_bottom_left-33.33333% */
.top_right_bottom_left-2\/3	{ top: 66.6666666%; right: 66.6666666%; bottom: 66.6666666%;  left: 66.6666666%;  } /* top_right_bottom_left-2\/3 = top_right_bottom_left-2/3 = top_right_bottom_left-66.6666666% */
// .top_right_bottom_left-2-\/3	{ top: calc(200% / 3); right: calc(200% / 3); bottom: calc(200% / 3);  left: calc(200% / 3);  } /* top_right_bottom_left-2\/3 = top_right_bottom_left-2/3 = top_right_bottom_left-66.6666666% */
.top_right_bottom_left-1\/4	{ top: 25%; right: 25%; bottom: 25%;  left: 25%;  } /* top_right_bottom_left-1-4 = top_right_bottom_left-1/4 = top_right_bottom_left-25% */
// .top_right_bottom_left-1-4	{ top: calc(100% / 4); right: calc(100% / 4); bottom: calc(100% / 4);  left: calc(100% / 4);  }  /* top_right_bottom_left-1-4 = top_right_bottom_left-1/4 = top_right_bottom_left-25% */
.top_right_bottom_left-2\/4	{ top: 50%; right: 50%; bottom: 50%;  left: 50%;  }  /* top_right_bottom_left-2\/4 = top_right_bottom_left-2/4 = top_right_bottom_left-50% */
// .top_right_bottom_left-2\/4	{ top: calc(200% / 4); right: calc(200% / 4); bottom: calc(200% / 4);  left: calc(200% / 4);  }  /* top_right_bottom_left-2-4 = top_right_bottom_left-2/4 = top_right_bottom_left-50% */
.top_right_bottom_left-3\/4	{ top: 75%; right: 75%; bottom: 75%;  left: 75%;  }  /* top_right_bottom_left-3\/4 = top_right_bottom_left-3/4 = top_right_bottom_left-75% */
// .top_right_bottom_left-3\/4	{ top: calc(300% / 4); right: calc(300% / 4); bottom: calc(300% / 4);  left: calc(300% / 4);  }  /* top_right_bottom_left-3-4 = top_right_bottom_left-3/4 = top_right_bottom_left-75% */
.top_right_bottom_left-full	{ top: 100%; right: 100%; bottom: 100%;  left: 100%;  } 




// position Top / Right / Bottom / Left 
.inset-0	{ top: 0px; right: 0px; bottom: 0px;  left: 0px;  }
.inset-px	{ top: 1px; right: 1px; bottom: 1px;  left: 1px;  }
.inset-0\.5	{ top: 0.125rem; right: 0.125rem; bottom: 0.125rem;  left: 0.125rem;  } /* inset-0\.5 = inset-0.5 = 0.125rem = 2px */
.inset-1	{ top: 0.250rem; right: 0.250rem; bottom: 0.250rem;  left: 0.250rem;  } /* 0.250rem = 4px */
.inset-1\.5	{ top: 0.375rem; right: 0.375rem; bottom: 0.375rem;  left: 0.375rem;  } /* inset-1\.5 = inset-1.5 = 0.375rem = 6px */
.inset-2	{ top: 0.500rem; right: 0.500rem; bottom: 0.500rem;  left: 0.500rem;  } /* 0.500rem = 8px */
.inset-2\.5	{ top: 0.625rem; right: 0.625rem; bottom: 0.625rem;  left: 0.625rem;  } /* inset-2\.5 = inset-2.5 = 0.625rem = 10px */
.inset-3	{ top: 0.750rem; right: 0.750rem; bottom: 0.750rem;  left: 0.750rem;  } /* 0.750rem = 12px */
.inset-3\.5	{ top: 0.875rem; right: 0.875rem; bottom: 0.875rem;  left: 0.875rem;  } /* inset-3\.5 = inset-3.5 = 0.875rem = 14px */
.inset-4	{ top: 1.000rem; right: 1.000rem; bottom: 1.000rem;  left: 1.000rem;  } /* 1.000rem = 16px */
.inset-5	{ top: 1.250rem; right: 1.250rem; bottom: 1.250rem;  left: 1.250rem;  } /* 1.250rem = 20px */
.inset-6	{ top: 1.500rem; right: 1.500rem; bottom: 1.500rem;  left: 1.500rem;  } /* 1.500rem = 24px */
.inset-7	{ top: 1.750rem; right: 1.750rem; bottom: 1.750rem;  left: 1.750rem;  } /* 1.750rem = 28px */
.inset-8	{ top: 2.000rem; right: 2.000rem; bottom: 2.000rem;  left: 2.000rem;  } /* 2.000rem = 32px */
.inset-9	{ top: 2.250rem; right: 2.250rem; bottom: 2.250rem;  left: 2.250rem;  } /* 2.250rem = 36px */
.inset-10	{ top: 2.500rem; right: 2.500rem; bottom: 2.500rem;  left: 2.500rem;  } /* 2.500rem = 40px */
.inset-11	{ top: 2.750rem; right: 2.750rem; bottom: 2.750rem;  left: 2.750rem;  } /* 2.750rem = 44px */
.inset-12	{ top: 3.000rem; right: 3.000rem; bottom: 3.000rem;  left: 3.000rem;  } /* 3.000rem = 48px */
.inset-14	{ top: 3.500rem; right: 3.500rem; bottom: 3.500rem;  left: 3.500rem;  } /* 3.500rem = 56px */
.inset-16	{ top: 4.000rem; right: 4.000rem; bottom: 4.000rem;  left: 4.000rem;  } /* 4.000rem = 64px */
.inset-20	{ top: 5.000rem; right: 5.000rem; bottom: 5.000rem;  left: 5.000rem;  } /* 5.000rem = 80px */
.inset-24	{ top: 6.000rem; right: 6.000rem; bottom: 6.000rem;  left: 6.000rem;  } /* 6.000rem = 96px */
.inset-28	{ top: 7.000rem; right: 7.000rem; bottom: 7.000rem;  left: 7.000rem;  } /* 7.000rem = 112px */
.inset-32	{ top: 8.000rem; right: 8.000rem; bottom: 8.000rem;  left: 8.000rem;  } /* 8.000rem = 128px */
.inset-36	{ top: 9.000rem; right: 9.000rem; bottom: 9.000rem;  left: 9.000rem;  } /* 9.000rem = 144px */
.inset-40	{ top: 10.000rem; right: 10.000rem; bottom: 10.000rem;  left: 10.000rem;  } /* 10.000rem = 160px */
.inset-44	{ top: 11.000rem; right: 11.000rem; bottom: 11.000rem;  left: 11.000rem;  } /* 11.000rem = 176px */
.inset-48	{ top: 12.000rem; right: 12.000rem; bottom: 12.000rem;  left: 12.000rem;  } /* 12.000rem = 192px */
.inset-52	{ top: 13.000rem; right: 13.000rem; bottom: 13.000rem;  left: 13.000rem;  } /* 13.000rem = 208px */
.inset-56	{ top: 14.000rem; right: 14.000rem; bottom: 14.000rem;  left: 14.000rem;  } /* 14.000rem = 224px */
.inset-60	{ top: 15.000rem; right: 15.000rem; bottom: 15.000rem;  left: 15.000rem;  } /* 15.000rem = 240px */
.inset-64	{ top: 16.000rem; right: 16.000rem; bottom: 16.000rem;  left: 16.000rem;  } /* 16.000rem = 256px */
.inset-72	{ top: 18.000rem; right: 18.000rem; bottom: 18.000rem;  left: 18.000rem;  } /* 18.000rem = 224px */
.inset-80	{ top: 20.000rem; right: 20.000rem; bottom: 20.000rem;  left: 20.000rem;  } /* 20.000rem = 224px */
.inset-96	{ top: 24.000rem; right: 24.000rem; bottom: 24.000rem;  left: 24.000rem;  } /* 24.000rem = 224px */
.inset-auto	{ top: auto; right: auto; bottom: auto;  left: auto;  } 
.inset-1\/2	{ top: 50%; right: 50%; bottom: 50%;  left: 50%;  } /* inset-1\/2 = inset-1/2 */
// .inset-1/2	{ top: calc(100% / 2); right: calc(100% / 2); bottom: calc(100% / 2);  left: calc(100% / 2);  } /* inset-1\/2 = inset-1/2 = inset-50%  */
.inset-1\/3	{ top: 33.3333333%; right: 33.3333333%; bottom: 33.3333333%;  left: 33.3333333%;  } /* inset-1\/3 = inset-1/3 = inset-33.3333333%*/
// .inset-1\/3	{ top: calc(100% / 3); right: calc(100% / 3); bottom: calc(100% / 3);  left: calc(100% / 3);  } /* inset-1\/3 = inset-1/3 = inset-33.33333% */
.inset-2\/3	{ top: 66.6666666%; right: 66.6666666%; bottom: 66.6666666%;  left: 66.6666666%;  } /* inset-2\/3 = inset-2/3 = inset-66.6666666% */
// .inset-2-\/3	{ top: calc(200% / 3); right: calc(200% / 3); bottom: calc(200% / 3);  left: calc(200% / 3);  } /* inset-2\/3 = inset-2/3 = inset-66.6666666% */
.inset-1\/4	{ top: 25%; right: 25%; bottom: 25%;  left: 25%;  } /* inset-1-4 = inset-1/4 = inset-25% */
// .inset-1-4	{ top: calc(100% / 4); right: calc(100% / 4); bottom: calc(100% / 4);  left: calc(100% / 4);  }  /* inset-1-4 = inset-1/4 = inset-25% */
.inset-2\/4	{ top: 50%; right: 50%; bottom: 50%;  left: 50%;  }  /* inset-2\/4 = inset-2/4 = inset-50% */
// .inset-2\/4	{ top: calc(200% / 4); right: calc(200% / 4); bottom: calc(200% / 4);  left: calc(200% / 4);  }  /* inset-2-4 = inset-2/4 = inset-50% */
.inset-3\/4	{ top: 75%; right: 75%; bottom: 75%;  left: 75%;  }  /* inset-3\/4 = inset-3/4 = inset-75% */
// .inset-3\/4	{ top: calc(300% / 4); right: calc(300% / 4); bottom: calc(300% / 4);  left: calc(300% / 4);  }  /* inset-3-4 = inset-3/4 = inset-75% */
.inset-full	{ top: 100%; right: 100%; bottom: 100%;  left: 100%;  } 




// inset : top right bottom left
// inset : top RL bottom  :- right = RL , left= RL 
// inset : TB RL   :- top=TB  ,   bottom=TB    ,  right = RL , left= RL 
// inset : TBRL   :- top=TBRL  ,   bottom=TBRL    ,  right=TBRL , left=TBRL 