.border-e-inherit	{border-inline-end-color: inherit;}
.border-e-current	{border-inline-end-color: currentColor;}
.border-e-transparent	{border-inline-end-color: transparent;}
.border-e-black	{border-inline-end-color: rgb(0 0 0);}
.border-e-white	{border-inline-end-color: rgb(255 255 255);}
.border-e-slate-50	{border-inline-end-color: rgb(248 250 252);}
.border-e-slate-100	{border-inline-end-color: rgb(241 245 249);}
.border-e-slate-200	{border-inline-end-color: rgb(226 232 240);}
.border-e-slate-300	{border-inline-end-color: rgb(203 213 225);}
.border-e-slate-400	{border-inline-end-color: rgb(148 163 184);}
.border-e-slate-500	{border-inline-end-color: rgb(100 116 139);}
.border-e-slate-600	{border-inline-end-color: rgb(71 85 105);}
.border-e-slate-700	{border-inline-end-color: rgb(51 65 85);}
.border-e-slate-800	{border-inline-end-color: rgb(30 41 59);}
.border-e-slate-900	{border-inline-end-color: rgb(15 23 42);}
.border-e-slate-950	{border-inline-end-color: rgb(2 6 23);}
.border-e-gray-50	{border-inline-end-color: rgb(249 250 251);}
.border-e-gray-100	{border-inline-end-color: rgb(243 244 246);}
.border-e-gray-200	{border-inline-end-color: rgb(229 231 235);}
.border-e-gray-300	{border-inline-end-color: rgb(209 213 219);}
.border-e-gray-400	{border-inline-end-color: rgb(156 163 175);}
.border-e-gray-500	{border-inline-end-color: rgb(107 114 128);}
.border-e-gray-600	{border-inline-end-color: rgb(75 85 99);}
.border-e-gray-700	{border-inline-end-color: rgb(55 65 81);}
.border-e-gray-800	{border-inline-end-color: rgb(31 41 55);}
.border-e-gray-900	{border-inline-end-color: rgb(17 24 39);}
.border-e-gray-950	{border-inline-end-color: rgb(3 7 18);}
.border-e-zinc-50	{border-inline-end-color: rgb(250 250 250);}
.border-e-zinc-100	{border-inline-end-color: rgb(244 244 245);}
.border-e-zinc-200	{border-inline-end-color: rgb(228 228 231);}
.border-e-zinc-300	{border-inline-end-color: rgb(212 212 216);}
.border-e-zinc-400	{border-inline-end-color: rgb(161 161 170);}
.border-e-zinc-500	{border-inline-end-color: rgb(113 113 122);}
.border-e-zinc-600	{border-inline-end-color: rgb(82 82 91);}
.border-e-zinc-700	{border-inline-end-color: rgb(63 63 70);}
.border-e-zinc-800	{border-inline-end-color: rgb(39 39 42);}
.border-e-zinc-900	{border-inline-end-color: rgb(24 24 27);}
.border-e-zinc-950	{border-inline-end-color: rgb(9 9 11);}
.border-e-neutral-50	{border-inline-end-color: rgb(250 250 250);}
.border-e-neutral-100	{border-inline-end-color: rgb(245 245 245);}
.border-e-neutral-200	{border-inline-end-color: rgb(229 229 229);}
.border-e-neutral-300	{border-inline-end-color: rgb(212 212 212);}
.border-e-neutral-400	{border-inline-end-color: rgb(163 163 163);}
.border-e-neutral-500	{border-inline-end-color: rgb(115 115 115);}
.border-e-neutral-600	{border-inline-end-color: rgb(82 82 82);}
.border-e-neutral-700	{border-inline-end-color: rgb(64 64 64);}
.border-e-neutral-800	{border-inline-end-color: rgb(38 38 38);}
.border-e-neutral-900	{border-inline-end-color: rgb(23 23 23);}
.border-e-neutral-950	{border-inline-end-color: rgb(10 10 10);}
.border-e-stone-50	{border-inline-end-color: rgb(250 250 249);}
.border-e-stone-100	{border-inline-end-color: rgb(245 245 244);}
.border-e-stone-200	{border-inline-end-color: rgb(231 229 228);}
.border-e-stone-300	{border-inline-end-color: rgb(214 211 209);}
.border-e-stone-400	{border-inline-end-color: rgb(168 162 158);}
.border-e-stone-500	{border-inline-end-color: rgb(120 113 108);}
.border-e-stone-600	{border-inline-end-color: rgb(87 83 78);}
.border-e-stone-700	{border-inline-end-color: rgb(68 64 60);}
.border-e-stone-800	{border-inline-end-color: rgb(41 37 36);}
.border-e-stone-900	{border-inline-end-color: rgb(28 25 23);}
.border-e-stone-950	{border-inline-end-color: rgb(12 10 9);}
.border-e-red-50	{border-inline-end-color: rgb(254 242 242);}
.border-e-red-100	{border-inline-end-color: rgb(254 226 226);}
.border-e-red-200	{border-inline-end-color: rgb(254 202 202);}
.border-e-red-300	{border-inline-end-color: rgb(252 165 165);}
.border-e-red-400	{border-inline-end-color: rgb(248 113 113);}
.border-e-red-500	{border-inline-end-color: rgb(239 68 68);}
.border-e-red-600	{border-inline-end-color: rgb(220 38 38);}
.border-e-red-700	{border-inline-end-color: rgb(185 28 28);}
.border-e-red-800	{border-inline-end-color: rgb(153 27 27);}
.border-e-red-900	{border-inline-end-color: rgb(127 29 29);}
.border-e-red-950	{border-inline-end-color: rgb(69 10 10);}
.border-e-orange-50	{border-inline-end-color: rgb(255 247 237);}
.border-e-orange-100	{border-inline-end-color: rgb(255 237 213);}
.border-e-orange-200	{border-inline-end-color: rgb(254 215 170);}
.border-e-orange-300	{border-inline-end-color: rgb(253 186 116);}
.border-e-orange-400	{border-inline-end-color: rgb(251 146 60);}
.border-e-orange-500	{border-inline-end-color: rgb(249 115 22);}
.border-e-orange-600	{border-inline-end-color: rgb(234 88 12);}
.border-e-orange-700	{border-inline-end-color: rgb(194 65 12);}
.border-e-orange-800	{border-inline-end-color: rgb(154 52 18);}
.border-e-orange-900	{border-inline-end-color: rgb(124 45 18);}
.border-e-orange-950	{border-inline-end-color: rgb(67 20 7);}
.border-e-amber-50	{border-inline-end-color: rgb(255 251 235);}
.border-e-amber-100	{border-inline-end-color: rgb(254 243 199);}
.border-e-amber-200	{border-inline-end-color: rgb(253 230 138);}
.border-e-amber-300	{border-inline-end-color: rgb(252 211 77);}
.border-e-amber-400	{border-inline-end-color: rgb(251 191 36);}
.border-e-amber-500	{border-inline-end-color: rgb(245 158 11);}
.border-e-amber-600	{border-inline-end-color: rgb(217 119 6);}
.border-e-amber-700	{border-inline-end-color: rgb(180 83 9);}
.border-e-amber-800	{border-inline-end-color: rgb(146 64 14);}
.border-e-amber-900	{border-inline-end-color: rgb(120 53 15);}
.border-e-amber-950	{border-inline-end-color: rgb(69 26 3);}
.border-e-yellow-50	{border-inline-end-color: rgb(254 252 232);}
.border-e-yellow-100	{border-inline-end-color: rgb(254 249 195);}
.border-e-yellow-200	{border-inline-end-color: rgb(254 240 138);}
.border-e-yellow-300	{border-inline-end-color: rgb(253 224 71);}
.border-e-yellow-400	{border-inline-end-color: rgb(250 204 21);}
.border-e-yellow-500	{border-inline-end-color: rgb(234 179 8);}
.border-e-yellow-600	{border-inline-end-color: rgb(202 138 4);}
.border-e-yellow-700	{border-inline-end-color: rgb(161 98 7);}
.border-e-yellow-800	{border-inline-end-color: rgb(133 77 14);}
.border-e-yellow-900	{border-inline-end-color: rgb(113 63 18);}
.border-e-yellow-950	{border-inline-end-color: rgb(66 32 6);}
.border-e-lime-50	{border-inline-end-color: rgb(247 254 231);}
.border-e-lime-100	{border-inline-end-color: rgb(236 252 203);}
.border-e-lime-200	{border-inline-end-color: rgb(217 249 157);}
.border-e-lime-300	{border-inline-end-color: rgb(190 242 100);}
.border-e-lime-400	{border-inline-end-color: rgb(163 230 53);}
.border-e-lime-500	{border-inline-end-color: rgb(132 204 22);}
.border-e-lime-600	{border-inline-end-color: rgb(101 163 13);}
.border-e-lime-700	{border-inline-end-color: rgb(77 124 15);}
.border-e-lime-800	{border-inline-end-color: rgb(63 98 18);}
.border-e-lime-900	{border-inline-end-color: rgb(54 83 20);}
.border-e-lime-950	{border-inline-end-color: rgb(26 46 5);}
.border-e-green-50	{border-inline-end-color: rgb(240 253 244);}
.border-e-green-100	{border-inline-end-color: rgb(220 252 231);}
.border-e-green-200	{border-inline-end-color: rgb(187 247 208);}
.border-e-green-300	{border-inline-end-color: rgb(134 239 172);}
.border-e-green-400	{border-inline-end-color: rgb(74 222 128);}
.border-e-green-500	{border-inline-end-color: rgb(34 197 94);}
.border-e-green-600	{border-inline-end-color: rgb(22 163 74);}
.border-e-green-700	{border-inline-end-color: rgb(21 128 61);}
.border-e-green-800	{border-inline-end-color: rgb(22 101 52);}
.border-e-green-900	{border-inline-end-color: rgb(20 83 45);}
.border-e-green-950	{border-inline-end-color: rgb(5 46 22);}
.border-e-emerald-50	{border-inline-end-color: rgb(236 253 245);}
.border-e-emerald-100	{border-inline-end-color: rgb(209 250 229);}
.border-e-emerald-200	{border-inline-end-color: rgb(167 243 208);}
.border-e-emerald-300	{border-inline-end-color: rgb(110 231 183);}
.border-e-emerald-400	{border-inline-end-color: rgb(52 211 153);}
.border-e-emerald-500	{border-inline-end-color: rgb(16 185 129);}
.border-e-emerald-600	{border-inline-end-color: rgb(5 150 105);}
.border-e-emerald-700	{border-inline-end-color: rgb(4 120 87);}
.border-e-emerald-800	{border-inline-end-color: rgb(6 95 70);}
.border-e-emerald-900	{border-inline-end-color: rgb(6 78 59);}
.border-e-emerald-950	{border-inline-end-color: rgb(2 44 34);}
.border-e-teal-50	{border-inline-end-color: rgb(240 253 250);}
.border-e-teal-100	{border-inline-end-color: rgb(204 251 241);}
.border-e-teal-200	{border-inline-end-color: rgb(153 246 228);}
.border-e-teal-300	{border-inline-end-color: rgb(94 234 212);}
.border-e-teal-400	{border-inline-end-color: rgb(45 212 191);}
.border-e-teal-500	{border-inline-end-color: rgb(20 184 166);}
.border-e-teal-600	{border-inline-end-color: rgb(13 148 136);}
.border-e-teal-700	{border-inline-end-color: rgb(15 118 110);}
.border-e-teal-800	{border-inline-end-color: rgb(17 94 89);}
.border-e-teal-900	{border-inline-end-color: rgb(19 78 74);}
.border-e-teal-950	{border-inline-end-color: rgb(4 47 46);}
.border-e-cyan-50	{border-inline-end-color: rgb(236 254 255);}
.border-e-cyan-100	{border-inline-end-color: rgb(207 250 254);}
.border-e-cyan-200	{border-inline-end-color: rgb(165 243 252);}
.border-e-cyan-300	{border-inline-end-color: rgb(103 232 249);}
.border-e-cyan-400	{border-inline-end-color: rgb(34 211 238);}
.border-e-cyan-500	{border-inline-end-color: rgb(6 182 212);}
.border-e-cyan-600	{border-inline-end-color: rgb(8 145 178);}
.border-e-cyan-700	{border-inline-end-color: rgb(14 116 144);}
.border-e-cyan-800	{border-inline-end-color: rgb(21 94 117);}
.border-e-cyan-900	{border-inline-end-color: rgb(22 78 99);}
.border-e-cyan-950	{border-inline-end-color: rgb(8 51 68);}
.border-e-sky-50	{border-inline-end-color: rgb(240 249 255);}
.border-e-sky-100	{border-inline-end-color: rgb(224 242 254);}
.border-e-sky-200	{border-inline-end-color: rgb(186 230 253);}
.border-e-sky-300	{border-inline-end-color: rgb(125 211 252);}
.border-e-sky-400	{border-inline-end-color: rgb(56 189 248);}
.border-e-sky-500	{border-inline-end-color: rgb(14 165 233);}
.border-e-sky-600	{border-inline-end-color: rgb(2 132 199);}
.border-e-sky-700	{border-inline-end-color: rgb(3 105 161);}
.border-e-sky-800	{border-inline-end-color: rgb(7 89 133);}
.border-e-sky-900	{border-inline-end-color: rgb(12 74 110);}
.border-e-sky-950	{border-inline-end-color: rgb(8 47 73);}
.border-e-blue-50	{border-inline-end-color: rgb(239 246 255);}
.border-e-blue-100	{border-inline-end-color: rgb(219 234 254);}
.border-e-blue-200	{border-inline-end-color: rgb(191 219 254);}
.border-e-blue-300	{border-inline-end-color: rgb(147 197 253);}
.border-e-blue-400	{border-inline-end-color: rgb(96 165 250);}
.border-e-blue-500	{border-inline-end-color: rgb(59 130 246);}
.border-e-blue-600	{border-inline-end-color: rgb(37 99 235);}
.border-e-blue-700	{border-inline-end-color: rgb(29 78 216);}
.border-e-blue-800	{border-inline-end-color: rgb(30 64 175);}
.border-e-blue-900	{border-inline-end-color: rgb(30 58 138);}
.border-e-blue-950	{border-inline-end-color: rgb(23 37 84);}
.border-e-indigo-50	{border-inline-end-color: rgb(238 242 255);}
.border-e-indigo-100	{border-inline-end-color: rgb(224 231 255);}
.border-e-indigo-200	{border-inline-end-color: rgb(199 210 254);}
.border-e-indigo-300	{border-inline-end-color: rgb(165 180 252);}
.border-e-indigo-400	{border-inline-end-color: rgb(129 140 248);}
.border-e-indigo-500	{border-inline-end-color: rgb(99 102 241);}
.border-e-indigo-600	{border-inline-end-color: rgb(79 70 229);}
.border-e-indigo-700	{border-inline-end-color: rgb(67 56 202);}
.border-e-indigo-800	{border-inline-end-color: rgb(55 48 163);}
.border-e-indigo-900	{border-inline-end-color: rgb(49 46 129);}
.border-e-indigo-950	{border-inline-end-color: rgb(30 27 75);}
.border-e-violet-50	{border-inline-end-color: rgb(245 243 255);}
.border-e-violet-100	{border-inline-end-color: rgb(237 233 254);}
.border-e-violet-200	{border-inline-end-color: rgb(221 214 254);}
.border-e-violet-300	{border-inline-end-color: rgb(196 181 253);}
.border-e-violet-400	{border-inline-end-color: rgb(167 139 250);}
.border-e-violet-500	{border-inline-end-color: rgb(139 92 246);}
.border-e-violet-600	{border-inline-end-color: rgb(124 58 237);}
.border-e-violet-700	{border-inline-end-color: rgb(109 40 217);}
.border-e-violet-800	{border-inline-end-color: rgb(91 33 182);}
.border-e-violet-900	{border-inline-end-color: rgb(76 29 149);}
.border-e-violet-950	{border-inline-end-color: rgb(46 16 101);}
.border-e-purple-50	{border-inline-end-color: rgb(250 245 255);}
.border-e-purple-100	{border-inline-end-color: rgb(243 232 255);}
.border-e-purple-200	{border-inline-end-color: rgb(233 213 255);}
.border-e-purple-300	{border-inline-end-color: rgb(216 180 254);}
.border-e-purple-400	{border-inline-end-color: rgb(192 132 252);}
.border-e-purple-500	{border-inline-end-color: rgb(168 85 247);}
.border-e-purple-600	{border-inline-end-color: rgb(147 51 234);}
.border-e-purple-700	{border-inline-end-color: rgb(126 34 206);}
.border-e-purple-800	{border-inline-end-color: rgb(107 33 168);}
.border-e-purple-900	{border-inline-end-color: rgb(88 28 135);}
.border-e-purple-950	{border-inline-end-color: rgb(59 7 100);}
.border-e-fuchsia-50	{border-inline-end-color: rgb(253 244 255);}
.border-e-fuchsia-100	{border-inline-end-color: rgb(250 232 255);}
.border-e-fuchsia-200	{border-inline-end-color: rgb(245 208 254);}
.border-e-fuchsia-300	{border-inline-end-color: rgb(240 171 252);}
.border-e-fuchsia-400	{border-inline-end-color: rgb(232 121 249);}
.border-e-fuchsia-500	{border-inline-end-color: rgb(217 70 239);}
.border-e-fuchsia-600	{border-inline-end-color: rgb(192 38 211);}
.border-e-fuchsia-700	{border-inline-end-color: rgb(162 28 175);}
.border-e-fuchsia-800	{border-inline-end-color: rgb(134 25 143);}
.border-e-fuchsia-900	{border-inline-end-color: rgb(112 26 117);}
.border-e-fuchsia-950	{border-inline-end-color: rgb(74 4 78);}
.border-e-pink-50	{border-inline-end-color: rgb(253 242 248);}
.border-e-pink-100	{border-inline-end-color: rgb(252 231 243);}
.border-e-pink-200	{border-inline-end-color: rgb(251 207 232);}
.border-e-pink-300	{border-inline-end-color: rgb(249 168 212);}
.border-e-pink-400	{border-inline-end-color: rgb(244 114 182);}
.border-e-pink-500	{border-inline-end-color: rgb(236 72 153);}
.border-e-pink-600	{border-inline-end-color: rgb(219 39 119);}
.border-e-pink-700	{border-inline-end-color: rgb(190 24 93);}
.border-e-pink-800	{border-inline-end-color: rgb(157 23 77);}
.border-e-pink-900	{border-inline-end-color: rgb(131 24 67);}
.border-e-pink-950	{border-inline-end-color: rgb(80 7 36);}
.border-e-rose-50	{border-inline-end-color: rgb(255 241 242);}
.border-e-rose-100	{border-inline-end-color: rgb(255 228 230);}
.border-e-rose-200	{border-inline-end-color: rgb(254 205 211);}
.border-e-rose-300	{border-inline-end-color: rgb(253 164 175);}
.border-e-rose-400	{border-inline-end-color: rgb(251 113 133);}
.border-e-rose-500	{border-inline-end-color: rgb(244 63 94);}
.border-e-rose-600	{border-inline-end-color: rgb(225 29 72);}
.border-e-rose-700	{border-inline-end-color: rgb(190 18 60);}
.border-e-rose-800	{border-inline-end-color: rgb(159 18 57);}
.border-e-rose-900	{border-inline-end-color: rgb(136 19 55);}
.border-e-rose-950	{border-inline-end-color: rgb(76 5 25);}