<p>sign-up works!</p>

<div>
  <p class="_green-text">if you are already user , Please  Sign In</p>
  <button  mat-stroked-button  [routerLink]="'/logIn'" >Back</button>
</div>


<div class="_flex-box">
    <div class="artwork _w-50"></div>

    
    <div class="_flex-box _w-30 ">
      <form #signUpForm="ngForm" [formGroup]="userInfoSignUp" (ngSubmit)="onSignUp()" >
        <div class="name _flex-box _jc-sb">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput type="text" formControlName="FirstName">
            </mat-form-field>
            <!-- <mat-error *ngIf="userInfo.get('FirstName')?.hasError('required')">This field is required</mat-error> -->
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" formControlName="LastName" >
            </mat-form-field>
        </div>
    
        <div class="main_component  _flex-box _jc-sb">
            <mat-form-field appearance="outline">
                <mat-label>Mobile No.</mat-label>
                <!-- <span matPrefix>+91 &nbsp;</span> -->
                <input matInput type="number" formControlName="MobileNumber" >
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email Id</mat-label>
                <input matInput type="email" formControlName="EmailId">
            </mat-form-field>
        </div>
    
        <div class="password  _flex-box _jc-sb">
            <mat-form-field appearance="outline" >
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="FirstPassword" >
                <mat-icon matSuffix fontIcon="home"></mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password"  formControlName="ConfirmPassword">
                <mat-icon matSuffix fontIcon="home"></mat-icon>
            </mat-form-field>
        </div>
    
        <button mat-stroked-button [disabled]="userInfoSignUp.invalid"> Create Your Account </button>
      </form>
    </div>
</div>


