<p>loan-types works!</p>

<!-- <div class="ByFormGroupOnly">
    <h1>create the form with help of constructor FormGroup</h1>

    <form [formGroup]="formGroupNameForFormGroupOnly">
        <div><input type="text" formControlName="firstFormControlName"></div>
         formControlName = "key"   is manadatory for every   input,select&option,textarea,etc
        <div><textarea formControlName="secondFormControlName" ></textarea></div>
        <div><input type="checkbox" formControlName="thirdFormControlName"  > Accept all terms and condition</div>
        <div><input type="radio" formControlName="fourthFormControlName">   Radio</div>
    
        <div>
            <select formControlName="fifthFormControlName" >
                <option value="premium">Premium</option>
                <option value="vip">VIP</option>
                <option value="economic">Economic</option>
            </select>
        </div>
    

        <div>
            <mat-form-field appearance="outline" class=" _w-50  _ml-10">
                <mat-label>Status</mat-label>
                <mat-select  [multiple]="false" formControlName="sixthFormControlName" >
            
                    <mat-option *ngFor="let groupFilter of status" [value]="groupFilter.value">
                        {{groupFilter.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
      
      <div>
        <mat-form-field appearance="outline" class="  _w-50 _ml-10">
            <mat-label>Pods</mat-label>
            <mat-select [multiple]="true" formControlName="seventhFormControlName" >
                <mat-option *ngFor="let groupFilter of pods" [value]="groupFilter.value">
                    {{groupFilter.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      
      <div>
            <mat-form-field appearance="outline">
            <mat-label>Favorite food</mat-label>
            <mat-select formControlName="eightthFormControlName"  >
              <mat-option *ngFor="let food of foods" [value]="food.value" >
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      
      <div>
        <mat-slide-toggle formControlName="ninethFormControlName" >Slide me!</mat-slide-toggle>
      </div>
    
        <div><button (click)="formGroupSubmitButtonForFormGroupOnly()">Submit Button Name</button></div>
    </form>
</div>










<div class="ByFormGroupOnly FOR SET">
    <h1>for set value with the help of constructor FormGroup</h1>
    <form [formGroup]="formGroupNameForFormGroupOnlyForSetPurpous">
        <div><input type="text" formControlName="firstFormControlName"></div>
         formControlName = "key"   is manadatory for every   input,select&option,textarea,etc
        <div><textarea formControlName="secondFormControlName" ></textarea></div>
        <div><input type="checkbox" formControlName="thirdFormControlName"  > Accept all terms and condition</div>
        <div><input type="radio" formControlName="fourthFormControlName">   Radio</div>
    
        <div>
            <select formControlName="fifthFormControlName" >
                <option value="premium">Premium</option>
                <option value="vip">VIP</option>
                <option value="economic">Economic</option>
            </select>
        </div>
    
        
        <div>
            <mat-form-field appearance="outline" class=" _w-50  _ml-10">
                <mat-label>Status</mat-label>
                <mat-select  [multiple]="false" formControlName="sixthFormControlName" >
            
                    <mat-option *ngFor="let groupFilter of status" [value]="groupFilter.value">
                        {{groupFilter.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
      
      <div>
        <mat-form-field appearance="outline" class="  _w-50 _ml-10">
            <mat-label>Pods</mat-label>
            <mat-select [multiple]="true" formControlName="seventhFormControlName" >
                <mat-option *ngFor="let groupFilter of pods" [value]="groupFilter.value">
                    {{groupFilter.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      
      <div>
            <mat-form-field appearance="outline">
            <mat-label>Favorite food</mat-label>
            <mat-select formControlName="eightthFormControlName"  >
              <mat-option *ngFor="let food of foods" [value]="food.value" >
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      
      <div>
        <mat-slide-toggle formControlName="ninethFormControlName" >Slide me!</mat-slide-toggle>
      </div>
    
        <div><button (click)="formGroupSubmitButtonForFormGroupOnlyForSetPurpous()">Submit Button Name</button></div>
    </form>
</div>











<div class="ByFormGroupOnly FOR SET">
    <h1> for set value with the help of setValue </h1>
    <form [formGroup]="formGroupNameForFormGroupOnlyForSetPurpousWithTheHelpOfSetValue">
        <div><input type="text" formControlName="firstFormControlName"></div>
         formControlName = "key"   is manadatory for every   input,select&option,textarea,etc
        <div><textarea formControlName="secondFormControlName" ></textarea></div>
        <div><input type="checkbox" formControlName="thirdFormControlName"  > Accept all terms and condition</div>
        <div><input type="radio" formControlName="fourthFormControlName">   Radio</div>
    
        <div>
            <select formControlName="fifthFormControlName" >
                <option value="premium">Premium</option>
                <option value="vip">VIP</option>
                <option value="economic">Economic</option>
            </select>
        </div>
    
        
        <div>
            <mat-form-field appearance="outline" class=" _w-50  _ml-10">
                <mat-label>Status</mat-label>
                <mat-select  [multiple]="false" formControlName="sixthFormControlName" >
            
                    <mat-option *ngFor="let groupFilter of status" [value]="groupFilter.value">
                        {{groupFilter.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
      <div>
        <mat-form-field appearance="outline" class="  _w-50 _ml-10">
            <mat-label>Pods</mat-label>
            <mat-select [multiple]="true" formControlName="seventhFormControlName" >
                <mat-option *ngFor="let groupFilter of pods" [value]="groupFilter.value">
                    {{groupFilter.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      
      <div>
            <mat-form-field appearance="outline">
            <mat-label>Favorite food</mat-label>
            <mat-select formControlName="eightthFormControlName"  >
              <mat-option *ngFor="let food of foods" [value]="food.value" >
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      
      <div>
        <mat-slide-toggle formControlName="ninethFormControlName" >Slide me!</mat-slide-toggle>
      </div>
    
        <div><button (click)="formGroupSubmitButtonForFormGroupOnlyForSetPurpousWithTheHelpOfSetValue()">
            Submit Button Name For FormGroup Only For Set Purpous With The Help Of SetValue
        </button></div>

        <div><button (click)="SetValueForFormGroupOnly()">set value Button Name</button></div>
    </form>
</div>




 -->

















<!-- formControlName = "key"           is manadatory for every     input,select&option,textarea,toggle,etc

this.formGroupName.root.value :{eightthFormContr01Name : "tacos -2",fifth FormContr01Name : "vip",firstFormContr01Name: "vs",fourth FormContr01Name : undefined,ninethFormContr01Name: true,second FormContr01Name: "dadasa",seventhFormContr01Name : ['zeroReady',' partialReady ' ],sixth FormContr01Name : "FAILED",thirdFormContr01Name: true }

this.formGroupName.value :{eightthFormContr01Name : "tacos -2",fifth FormContr01Name : "vip",firstFormContr01Name: "vs",fourth FormContr01Name : undefined,ninethFormContr01Name: true,second FormContr01Name: "dadasa",seventhFormContr01Name : ['zeroReady',' partialReady ' ],sixth FormContr01Name : "FAILED",thirdFormContr01Name: true }

this.formGroupName.value :          {
                                        eightthFormControlName : "tacos -2",
                                        fifth FormControlName : "vip",
                                        firstFormControlName: "vs",
                                        fourth FormControlName : undefined,
                                        ninethFormControlName: true,
                                        second FormControlName: "dadasa",
                                        seventhFormControlName : ['zeroReady',' partialReady ' ],
                                        sixth FormControlName : "FAILED",
                                        thirdFormControlName: true,
                                        [[Prototype]] : Object,
                                    }
this.formGroupName.root.value :    {
                                        eightthFormControlName : "tacos -2",
                                        fifth FormControlName : "vip",
                                        firstFormControlName: "vs",
                                        fourth FormControlName : undefined,
                                        ninethFormControlName: true,
                                        second FormControlName: "dadasa",
                                        seventhFormControlName : ['zeroReady',' partialReady ' ],
                                        sixth FormControlName : "FAILED",
                                        thirdFormControlName: true,
                                        [[Prototype]] : Object,
                                    }


-->
<!-- 

<div class="ByFormBulder">
    <h1> create the form with the help of FormBuilder </h1>

    <form [formGroup]="formGroupNameForFormBulderOnly">
        <div><input type="text" formControlName="firstFormControlName"></div>
         formControlName = "key"   is manadatory for every   input,select&option,textarea,etc
        <div><textarea formControlName="secondFormControlName" ></textarea></div>
        <div><input type="checkbox" formControlName="thirdFormControlName"  > Accept all terms and condition</div>
        <div><input type="radio" formControlName="fourthFormControlName">   Radio</div>
    
        <div>
            <select formControlName="fifthFormControlName" >
                <option value="premium">Premium</option>
                <option value="vip">VIP</option>
                <option value="economic">Economic</option>
            </select>
        </div>
    
        
        <div>
            <mat-form-field appearance="outline" class=" _w-50  _ml-10">
                <mat-label>Status</mat-label>
                <mat-select  [multiple]="false" formControlName="sixthFormControlName" >
            
                    <mat-option *ngFor="let groupFilter of status" [value]="groupFilter.value">
                        {{groupFilter.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
      
      <div>
        <mat-form-field appearance="outline" class="  _w-50 _ml-10">
            <mat-label>Pods</mat-label>
            <mat-select [multiple]="true" formControlName="seventhFormControlName" >
                <mat-option *ngFor="let groupFilter of pods" [value]="groupFilter.value">
                    {{groupFilter.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      
      <div>
            <mat-form-field appearance="outline">
            <mat-label>Favorite food</mat-label>
            <mat-select formControlName="eightthFormControlName"  >
              <mat-option *ngFor="let food of foods" [value]="food.value" >
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      
      <div>
        <mat-slide-toggle formControlName="ninethFormControlName" >Slide me!</mat-slide-toggle>
      </div>
    
        <div><button (click)="formGroupSubmitButtonForFormBulderOnly()">Submit Button Name</button></div>
    </form>
</div>









<div class="ByFormBulder">
    <h1> create the form with the help of FormBuilder For Set Purpous </h1>

    <form [formGroup]="formGroupNameForFormBulderOnlyForSetPurpous">
        <div><input type="text" formControlName="firstFormControlName"></div>
         formControlName = "key"   is manadatory for every   input,select&option,textarea,etc
        <div><textarea formControlName="secondFormControlName" ></textarea></div>
        <div><input type="checkbox" formControlName="thirdFormControlName"  > Accept all terms and condition</div>
        <div><input type="radio" formControlName="fourthFormControlName">   Radio</div>
    
        <div>
            <select formControlName="fifthFormControlName" >
                <option value="premium">Premium</option>
                <option value="vip">VIP</option>
                <option value="economic">Economic</option>
            </select>
        </div>
    
        
        <div>
            <mat-form-field appearance="outline" class=" _w-50  _ml-10">
                <mat-label>Status</mat-label>
                <mat-select  [multiple]="false" formControlName="sixthFormControlName" >
            
                    <mat-option *ngFor="let groupFilter of status" [value]="groupFilter.value">
                        {{groupFilter.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
      
      <div>
        <mat-form-field appearance="outline" class="  _w-50 _ml-10">
            <mat-label>Pods</mat-label>
            <mat-select [multiple]="true" formControlName="seventhFormControlName" >
                <mat-option *ngFor="let groupFilter of pods" [value]="groupFilter.value">
                    {{groupFilter.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      
      <div>
            <mat-form-field appearance="outline">
            <mat-label>Favorite food</mat-label>
            <mat-select formControlName="eightthFormControlName"  >
              <mat-option *ngFor="let food of foods" [value]="food.value" >
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      
      <div>
        <mat-slide-toggle formControlName="ninethFormControlName" >Slide me!</mat-slide-toggle>
      </div>
    
        <div><button (click)="formGroupSubmitButtonForFormBulderOnlyForSetPurpous()">Submit Button Name For Set Purpous</button></div>
    </form>
</div>






 -->

<!-- 
    (ngSubmit)="formGroupSubmitButtonForFormBulderOnlyForSetPurpousWithTheHelpOfSetValue(formGroupNameForFormBulderOnlyForSetPurpousWithTheHelpOfSetValue)
 -->

<!-- <div class="ByFormBulder">
    <h1> create the form with the help of FormBuilder For Set Purpous With The Help Of SetValue</h1>

    <form [formGroup]="formGroupNameForFormBulderOnlyForSetPurpousWithTheHelpOfSetValue" >
        <div><input type="text" formControlName="firstFormControlName"></div>
        <div *ngIf="formGroupNameForFormBulderOnlyForSetPurpousWithTheHelpOfSetValue.get('firstFormControlName')?.hasError('required')" >
            firstFormControlName is required</div>
        <div *ngIf="formGroupNameForFormBulderOnlyForSetPurpousWithTheHelpOfSetValue.get('firstFormControlName')?.hasError('minlength')" >
            firstFormControlName is minlength</div>
        <div *ngIf="formGroupNameForFormBulderOnlyForSetPurpousWithTheHelpOfSetValue.get('firstFormControlName')?.hasError('maxlength')" >
            firstFormControlName is maxlength</div>
        <div *ngIf="formGroupNameForFormBulderOnlyForSetPurpousWithTheHelpOfSetValue.get('firstFormControlName')?.hasError('required') && formGroupNameForFormBulderOnlyForSetPurpousWithTheHelpOfSetValue.get('firstFormControlName')?.touched" >firstFormControlName is required && touched</div> -->
        <!--  formControlName = "key"   is manadatory for every   input,select&option,textarea,etc -->
        <!-- <div><textarea formControlName="secondFormControlName" ></textarea></div>
        <div><input type="checkbox" formControlName="thirdFormControlName"  > Accept all terms and condition</div>
        <div><input type="radio" formControlName="fourthFormControlName">   Radio</div>
    
        <div>
            <select formControlName="fifthFormControlName" >
                <option value="premium">Premium</option>
                <option value="vip">VIP</option>
                <option value="economic">Economic</option>
            </select>
        </div>
    
        
        <div>
            <mat-form-field appearance="outline" class=" _w-50  _ml-10">
                <mat-label>Status</mat-label>
                <mat-select  [multiple]="false" formControlName="sixthFormControlName" >
            
                    <mat-option *ngFor="let groupFilter of status" [value]="groupFilter.value">
                        {{groupFilter.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
      
      <div>
        <mat-form-field appearance="outline" class="  _w-50 _ml-10">
            <mat-label>Pods</mat-label>
            <mat-select [multiple]="true" formControlName="seventhFormControlName" >
                <mat-option *ngFor="let groupFilter of pods" [value]="groupFilter.value">
                    {{groupFilter.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
      </div> -->
      
      <!-- <div>
            <mat-form-field appearance="outline">
            <mat-label>Favorite food</mat-label>
            <mat-select formControlName="eightthFormControlName"  >
              <mat-option *ngFor="let food of foods" [value]="food.value" >
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      
      <div>
        <mat-slide-toggle formControlName="ninethFormControlName" >Slide me!</mat-slide-toggle>
      </div>
    
       -->
        <!-- <div><button (click)="formGroupSubmitButtonForFormBulderOnlyForSetPurpousWithTheHelpOfSetValue()">
            Submit Button Name For Set Purpous With The Help Of SetValue </button></div>
        <div><button (click)="formGroupSubmitButtonForFormBulderOnlyForSetPurpousWithTheHelpOfSetValue()" [disabled]="!formGroupNameForFormBulderOnlyForSetPurpousWithTheHelpOfSetValue.valid">
            Submit Button Name For Set Purpous With The Help Of SetValue with disable feature </button></div> -->
        <!-- <div><button (click)="formGroupSubmitButtonForFormBulderOnlyForSetPurpousWithTheHelpOfSetValue()">
            Submit Button Name For Set Purpous With The Help Of SetValue </button></div>
        <div><button (click)="formGroupSubmitButtonForFormBulderOnlyForSetPurpousWithTheHelpOfSetValue()" [disabled]="!formGroupNameForFormBulderOnlyForSetPurpousWithTheHelpOfSetValue.valid">
            Submit Button Name For Set Purpous With The Help Of SetValue with disable feature </button></div>


        <div><button (click)="SetValueForFormBulderOnly()">set Button Name</button></div>
    </form>
</div> -->










<!-- <div class="ByFormBulder">
    <h1> create the form with the help of FormBuilder For Set Purpous With The Help Of SetValue</h1>
    <h1>    without (ngSubmit)="formSubmitButton(formGroupName) </h1>

    <form [formGroup]="FormBulder" >
        <div><input type="text" formControlName="firstFormControlName"></div>
        <div *ngIf="FormBulder.get('firstFormControlName')?.hasError('required')" >
            firstFormControlName is required</div>
        <div *ngIf="FormBulder.get('firstFormControlName')?.hasError('minlength')" >
            firstFormControlName is minlength</div>
        <div *ngIf="FormBulder.get('firstFormControlName')?.hasError('maxlength')" >
            firstFormControlName is maxlength</div>
        <div *ngIf="FormBulder.get('firstFormControlName')?.hasError('required') && FormBulder.get('firstFormControlName')?.touched" >firstFormControlName is required && touched</div> -->
        <!--  formControlName = "key"   is manadatory for every   input,select&option,textarea,etc -->
        <!-- <div><textarea formControlName="secondFormControlName" ></textarea></div>
        <div><input type="checkbox" formControlName="thirdFormControlName"  > Accept all terms and condition</div>
        <div><input type="radio" formControlName="fourthFormControlName">   Radio</div>
    
        <div>
            <select formControlName="fifthFormControlName" >
                <option value="premium">Premium</option>
                <option value="vip">VIP</option>
                <option value="economic">Economic</option>
            </select>
        </div>
    
        
        <div>
            <mat-form-field appearance="outline" class=" _w-50  _ml-10">
                <mat-label>Status</mat-label>
                <mat-select  [multiple]="false" formControlName="sixthFormControlName" >
            
                    <mat-option *ngFor="let groupFilter of status" [value]="groupFilter.value">
                        {{groupFilter.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
      
      <div>
        <mat-form-field appearance="outline" class="  _w-50 _ml-10">
            <mat-label>Pods</mat-label>
            <mat-select [multiple]="true" formControlName="seventhFormControlName" >
                <mat-option *ngFor="let groupFilter of pods" [value]="groupFilter.value">
                    {{groupFilter.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      
      <div>
            <mat-form-field appearance="outline">
            <mat-label>Favorite food</mat-label>
            <mat-select formControlName="eightthFormControlName"  >
              <mat-option *ngFor="let food of foods" [value]="food.value" >
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      
      <div>
        <mat-slide-toggle formControlName="ninethFormControlName" >Slide me!</mat-slide-toggle>
      </div> -->
    

        <!--    without       <form [formGroup]="form" (ngSubmit)="onSignln(form)"> ... </form>     -->
            <!-- <div><button (click)="formSubmitButton()">
                Submit Button Name For Set Purpous With The Help Of SetValue </button></div>
            <div><button (click)="formSubmitButton()" [disabled]="!FormBulder.valid">
                Submit Button Name For Set Purpous With The Help Of SetValue with disable feature </button></div> -->

        <!--    with       <form [formGroup]="form" (ngSubmit)="onSignln(form)"> ... </form>     -->
        <!-- <div><button type="submit">
            Submit Button Name For Set Purpous With The Help Of SetValue </button></div>
        <div><button type="submit" [disabled]="!FormBulder.valid">
            Submit Button Name For Set Purpous With The Help Of SetValue with disable feature </button></div> -->



        <!-- <div><button (click)="SetValueButton()">set Button Name</button></div>
    </form>
</div> -->


<!-- 
   without  (ngSubmit)="formSubmitButton(FormBulder)
 -->



<!-- <div class="ByFormBulder">
    <h1> create the form with the help of FormBuilder For Set Purpous With The Help Of SetValue</h1>
    <h1>    without (ngSubmit)="formSubmitButton(formGroupName) </h1>

    <form [formGroup]="FormBulder" >
        <div><input type="text" formControlName="firstFormControlName"></div>
        <div *ngIf="FormBulder.get('firstFormControlName')?.hasError('required')" >
            firstFormControlName is required</div>
        <div *ngIf="FormBulder.get('firstFormControlName')?.hasError('minlength')" >
            firstFormControlName is minlength</div>
        <div *ngIf="FormBulder.get('firstFormControlName')?.hasError('maxlength')" >
            firstFormControlName is maxlength</div>
        <div *ngIf="FormBulder.get('firstFormControlName')?.hasError('required') && FormBulder.get('firstFormControlName')?.touched" >firstFormControlName is required && touched</div> -->
        <!--  formControlName = "key"   is manadatory for every   input,select&option,textarea,etc -->
        <!-- <div><textarea formControlName="secondFormControlName" ></textarea></div>
        <div><input type="checkbox" formControlName="thirdFormControlName"  > Accept all terms and condition</div>
        <div><input type="radio" formControlName="fourthFormControlName">   Radio</div>
    
        <div>
            <select formControlName="fifthFormControlName" >
                <option value="premium">Premium</option>
                <option value="vip">VIP</option>
                <option value="economic">Economic</option>
            </select>
        </div>
    
        
        <div>
            <mat-form-field appearance="outline" class=" _w-50  _ml-10">
                <mat-label>Status</mat-label>
                <mat-select  [multiple]="false" formControlName="sixthFormControlName" >
            
                    <mat-option *ngFor="let groupFilter of status" [value]="groupFilter.value">
                        {{groupFilter.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
      
      <div>
        <mat-form-field appearance="outline" class="  _w-50 _ml-10">
            <mat-label>Pods</mat-label>
            <mat-select [multiple]="true" formControlName="seventhFormControlName" >
                <mat-option *ngFor="let groupFilter of pods" [value]="groupFilter.value">
                    {{groupFilter.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      
      <div>
            <mat-form-field appearance="outline">
            <mat-label>Favorite food</mat-label>
            <mat-select formControlName="eightthFormControlName"  >
              <mat-option *ngFor="let food of foods" [value]="food.value" >
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      
      <div>
        <mat-slide-toggle formControlName="ninethFormControlName" >Slide me!</mat-slide-toggle>
      </div> -->
    

        <!--    without       <form [formGroup]="form" (ngSubmit)="onSignln(form)"> ... </form>     -->
            <!-- <div><button (click)="formSubmitButtonWithoutNgSubmit()">
                Submit Button Name For Set Purpous With The Help Of SetValue </button></div>
            <div><button (click)="formSubmitButtonWithoutNgSubmit()" [disabled]="!FormBulder.valid">
                Submit Button Name For Set Purpous With The Help Of SetValue with disable feature </button></div> -->

        <!--    with       <form [formGroup]="form" (ngSubmit)="onSignln(form)"> ... </form>     -->
        <!-- <div><button type="submit">
            Submit Button Name For Set Purpous With The Help Of SetValue </button></div>
        <div><button type="submit" [disabled]="!FormBulder.valid">
            Submit Button Name For Set Purpous With The Help Of SetValue with disable feature </button></div> -->



        <!-- <div><button (click)="SetValueButton()">set Button Name</button></div>
    </form>
</div> -->






<!-- 
   with  (ngSubmit)="formSubmitButton(FormBulder)
 -->

<div class="ByFormBulder">
    <h1> create the form with the help of FormBuilder For Set Purpous With The Help Of SetValue</h1>
    <h1>    with """'(ngSubmit)="formSubmitButtonWithNgSubmit(formGroupName)"'"" </h1>

    <!-- <form #form="ngForm" [formGroup]="FormBulder" (ngSubmit)="formSubmitButtonWithNgSubmit()"> -->
    <form #form="ngForm" [formGroup]="FormBulder" (ngSubmit)="formSubmitButtonWithNgSubmit(FormBulder)" >
        <div><input type="text" formControlName="firstFormControlName"  (keyup)="trackFormName()"></div>
        <div *ngIf="FormBulder.get('firstFormControlName')?.hasError('required')" >
            firstFormControlName is required</div>
        <div *ngIf="FormBulder.get('firstFormControlName')?.hasError('minlength')" >
            firstFormControlName is minlength</div>
        <div *ngIf="FormBulder.get('firstFormControlName')?.hasError('maxlength')" >
            firstFormControlName is maxlength</div>
        <div *ngIf="FormBulder.get('firstFormControlName')?.hasError('required') && FormBulder.get('firstFormControlName')?.touched" >firstFormControlName is required && touched</div>
        <!--  formControlName = "key"   is manadatory for every   input,select&option,textarea,etc -->
        <div><textarea formControlName="secondFormControlName" ></textarea></div>
        <div><input type="checkbox" formControlName="thirdFormControlName"  > Accept all terms and condition</div>
        <div><input type="radio" formControlName="fourthFormControlName">   Radio</div>
    
        <div>
            <select formControlName="fifthFormControlName" >
                <option value="premium">Premium</option>
                <option value="vip">VIP</option>
                <option value="economic">Economic</option>
            </select>
        </div>
    
        
        <div>
            <mat-form-field appearance="outline" class=" _w-50  _ml-10">
                <mat-label>Status</mat-label>
                <mat-select  [multiple]="false" formControlName="sixthFormControlName" >
            
                    <mat-option *ngFor="let groupFilter of status" [value]="groupFilter.value">
                        {{groupFilter.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
      
      <div>
        <mat-form-field appearance="outline" class="  _w-50 _ml-10">
            <mat-label>Pods</mat-label>
            <mat-select [multiple]="true" formControlName="seventhFormControlName" >
                <mat-option *ngFor="let groupFilter of pods" [value]="groupFilter.value">
                    {{groupFilter.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      
      <div>
            <mat-form-field appearance="outline">
            <mat-label>Favorite food</mat-label>
            <mat-select formControlName="eightthFormControlName"  >
              <mat-option *ngFor="let food of foods" [value]="food.value" >
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      
      <div>
        <mat-slide-toggle formControlName="ninethFormControlName" >Slide me!</mat-slide-toggle>
      </div>
    

    <!--    without       <form [formGroup]="form" (ngSubmit)="onSignln(form)"> ... </form>     -->
        <!-- <div><button (click)="formSubmitButtonWithoutNgSubmit()">
            Submit Button Name For Set Purpous With The Help Of SetValue </button></div>
        <div><button (click)="formSubmitButtonWithoutNgSubmit()" [disabled]="!FormBulder.valid">
            Submit Button Name For Set Purpous With The Help Of SetValue with disable feature </button></div> -->

    <!--    with       <form [formGroup]="form" (ngSubmit)="onSignln(form)"> ... </form>     -->
        <div><button type="submit">
            Submit Button Name For Set Purpous With The Help Of SetValue </button></div>
        <div><button type="submit" [disabled]="!FormBulder.valid">
            Submit Button Name For Set Purpous With The Help Of SetValue with disable feature </button></div>


        <div><button (click)="SetValueButton()">set Button Name</button></div>



        <div><button (click)="FormBulder.reset()">Reset Button Name</button></div>
        <div><button (click)="resetForm()">Reset Button Name by function</button></div>
    </form>
</div>









<!-- 
<form [formGroup]="form" (ngSubmit)="onSignln(form)">
    <div class="form-group">
        <input type="text" class="form-control" id="email" placeholder="Enter email" formControlName="email">
        <span class="text-muted" *nglf="form.getCemail').hasErrorCrequired') && form.getCemail').touched">Email is required</span>
    </div>
    <div class="form-group">
        <input tvpe="password" class="form-control" id="password" placeholder="Password" formControlName="password">
        <span class="text-muted" *nglf="form.get('password').hasError('required') && form.get('password').touched">Password is required</span>
        <div><button btn-primary btn-block" [disabled]="!form.valid">Sign ln</button></div>
    </div>
</form>
 -->





















    










