//  Aspect Ration
.aspect-auto {aspect-ratio: auto;}
.aspect-square {aspect-ratio: 1 / 1;}
.aspect-video {aspect-ratio: 16 / 9;}

// container
.container {width: 100%;}
.container-sm {max-width: 640px;}
.container-md {max-width: 768px;}
.container-lg {max-width: 1024px;}
.container-xl {max-width: 1280px;}
.container-xxl {max-width: 1536px;}

// columns
.columns-1 {columns: 1;}
.columns-2 {columns: 2;}
.columns-3 {columns: 3;}
.columns-4 {columns: 4;}
.columns-5 {columns: 5;}
.columns-6 {columns: 6;}
.columns-7 {columns: 7;}
.columns-8 {columns: 8;}
.columns-9 {columns: 9;}
.columns-10 {columns: 10;}
.columns-11 {columns: 11;}
.columns-12 {columns: 12;}
.columns-auto {columns: auto;}
.columns-3xs {columns: 16rem; /* 256px */}
.columns-2xs {columns: 18rem; /* 288px */}
.columns-xs {columns: 20rem; /* 320px */}
.columns-sm {columns: 24rem; /* 384px */}
.columns-md {columns: 28rem; /* 448px */}
.columns-lg {columns: 32rem; /* 512px */}
.columns-xl {columns: 36rem; /* 576px */}
.columns-2xl {columns: 42rem; /* 672px */}
.columns-3xl {columns: 48rem; /* 768px */}
.columns-4xl {columns: 56rem; /* 896px */}
.columns-5xl {columns: 64rem; /* 1024px */}
.columns-6xl {columns: 72rem; /* 1152px */}
.columns-7xl {columns: 80rem; /* 1280px */}

// break-after
.break-after-auto	{break-after: auto;}
.break-after-avoid	{break-after: avoid;}
.break-after-all	{break-after: all;}
.break-after-avoid-page	{break-after: avoid-page;}
.break-after-page	{break-after: page;}
.break-after-left	{break-after: left;}
.break-after-right	{break-after: right;}
.break-after-column	{break-after: column;}

// break-before
.break-before-auto	{break-before: auto;}
.break-before-avoid	{break-before: avoid;}
.break-before-all	{break-before: all;}
.break-before-avoid-page	{break-before: avoid-page;}
.break-before-page	{break-before: page;}
.break-before-left	{break-before: left;}
.break-before-right	{break-before: right;}
.break-before-column	{break-before: column;}

// break-inside
.break-inside-auto	{break-inside: auto;}
.break-inside-avoid	{break-inside: avoid;}
.break-inside-avoid-page	{break-inside: avoid-page;}
.break-inside-avoid-column	{break-inside: avoid-column;}

// box decoration break
.box-decoration-clone	{box-decoration-break: clone;}
.box-decoration-slice	{box-decoration-break: slice;}

// Box Sizing
.box-border	{box-sizing: border-box;}
.box-content	{box-sizing: content-box;}

// display
.block	{display: block;}
.inline-block	{display: inline-block;}
.inline	{display: inline;}
.flex	{display: flex;}
.inline-flex	{display: inline-flex;}
.table	{display: table;}
.inline-table	{display: inline-table;}
.table-caption	{display: table-caption;}
.table-cell	{display: table-cell;}
.table-column	{display: table-column;}
.table-column-group	{display: table-column-group;}
.table-footer-group	{display: table-footer-group;}
.table-header-group	{display: table-header-group;}
.table-row-group	{display: table-row-group;}
.table-row	{display: table-row;}
.flow-root	{display: flow-root;}
.grid	{display: grid;}
.inline-grid	{display: inline-grid;}
.contents	{display: contents;}
.list-item	{display: list-item;}
.hidden	{display: none;}

// floats
.float-right	{float: right;}
.float-left	{float: left;}
.float-none	{float: none;}

// clear
.clear-left	{clear: left;}
.clear-right	{clear: right;}
.clear-both	{clear: both;}
.clear-none	{clear: none;}

// isolation
.isolate	{isolation: isolate;}
.isolation-auto	{isolation: auto;}

// object-fit
.object-contain	{object-fit: contain;}
.object-cover	{object-fit: cover;}
.object-fill	{object-fit: fill;}
.object-none	{object-fit: none;}
.object-scale-down	{object-fit: scale-down;}

// Object Position
.object-bottom	{object-position: bottom;}
.object-center	{object-position: center;}
.object-left	{object-position: left;}
.object-left-bottom	{object-position: left bottom;}
.object-left-top	{object-position: left top;}
.object-right	{object-position: right;}
.object-right-bottom	{object-position: right bottom;}
.object-right-top	{object-position: right top;}
.object-top	{object-position: top;}

// overflow
.overflow-auto	{overflow: auto;}
.overflow-hidden	{overflow: hidden;}
.overflow-clip	{overflow: clip;}
.overflow-visible	{overflow: visible;}
.overflow-scroll	{overflow: scroll;}
.overflow-x-auto	{overflow-x: auto;}
.overflow-y-auto	{overflow-y: auto;}
.overflow-x-hidden	{overflow-x: hidden;}
.overflow-y-hidden	{overflow-y: hidden;}
.overflow-x-clip	{overflow-x: clip;}
.overflow-y-clip	{overflow-y: clip;}
.overflow-x-visible	{overflow-x: visible;}
.overflow-y-visible	{overflow-y: visible;}
.overflow-x-scroll	{overflow-x: scroll;}
.overflow-y-scroll	{overflow-y: scroll;}

// overscroll behavior
.overscroll-auto	{overscroll-behavior: auto;}
.overscroll-contain	{overscroll-behavior: contain;}
.overscroll-none	{overscroll-behavior: none;}
.overscroll-y-auto	{overscroll-behavior-y: auto;}
.overscroll-y-contain	{overscroll-behavior-y: contain;}
.overscroll-y-none	{overscroll-behavior-y: none;}
.overscroll-x-auto	{overscroll-behavior-x: auto;}
.overscroll-x-contain	{overscroll-behavior-x: contain;}
.overscroll-x-none	{overscroll-behavior-x: none;}

// position
.static	{position: static;}
.fixed	{position: fixed;}
.absolute	{position: absolute;}
.relative	{position: relative;}
.sticky	{position: sticky;}

// position Top / Right / Bottom / Left
.inset-0	{ top: 0px; right: 0px; bottom: 0px;  left: 0px;  }
.inset-px	{ top: 1px; right: 1px; bottom: 1px;  left: 1px;  }
.inset-0_5	{ top: 0.125rem; right: 0.125rem; bottom: 0.125rem;  left: 0.125rem;  } /* 0.125rem = 2px */
.inset-1	{ top: 0.250rem; right: 0.250rem; bottom: 0.250rem;  left: 0.250rem;  } /* 0.250rem = 4px */
.inset-1_5	{ top: 0.375rem; right: 0.375rem; bottom: 0.375rem;  left: 0.375rem;  } /* 0.375rem = 6px */
.inset-2	{ top: 0.500rem; right: 0.500rem; bottom: 0.500rem;  left: 0.500rem;  } /* 0.500rem = 8px */
.inset-2_5	{ top: 0.625rem; right: 0.625rem; bottom: 0.625rem;  left: 0.625rem;  } /* 0.625rem = 10px */
.inset-3	{ top: 0.750rem; right: 0.750rem; bottom: 0.750rem;  left: 0.750rem;  } /* 0.750rem = 12px */
.inset-3_5	{ top: 0.875rem; right: 0.875rem; bottom: 0.875rem;  left: 0.875rem;  } /* 0.875rem = 14px */
.inset-4	{ top: 1.000rem; right: 1.000rem; bottom: 1.000rem;  left: 1.000rem;  } /* 1.000rem = 16px */
.inset-5	{ top: 1.250rem; right: 1.250rem; bottom: 1.250rem;  left: 1.250rem;  } /* 1.250rem = 20px */
.inset-6	{ top: 1.500rem; right: 1.500rem; bottom: 1.500rem;  left: 1.500rem;  } /* 1.500rem = 24px */
.inset-7	{ top: 1.750rem; right: 1.750rem; bottom: 1.750rem;  left: 1.750rem;  } /* 1.750rem = 28px */
.inset-8	{ top: 2.000rem; right: 2.000rem; bottom: 2.000rem;  left: 2.000rem;  } /* 2.000rem = 32px */
.inset-9	{ top: 2.250rem; right: 2.250rem; bottom: 2.250rem;  left: 2.250rem;  } /* 2.250rem = 36px */
.inset-10	{ top: 2.500rem; right: 2.500rem; bottom: 2.500rem;  left: 2.500rem;  } /* 2.500rem = 40px */
.inset-11	{ top: 2.750rem; right: 2.750rem; bottom: 2.750rem;  left: 2.750rem;  } /* 2.750rem = 44px */
.inset-12	{ top: 3.000rem; right: 3.000rem; bottom: 3.000rem;  left: 3.000rem;  } /* 3.000rem = 48px */
.inset-14	{ top: 3.500rem; right: 3.500rem; bottom: 3.500rem;  left: 3.500rem;  } /* 3.500rem = 56px */
.inset-16	{ top: 4.000rem; right: 4.000rem; bottom: 4.000rem;  left: 4.000rem;  } /* 4.000rem = 64px */
.inset-20	{ top: 5.000rem; right: 5.000rem; bottom: 5.000rem;  left: 5.000rem;  } /* 5.000rem = 80px */
.inset-24	{ top: 6.000rem; right: 6.000rem; bottom: 6.000rem;  left: 6.000rem;  } /* 6.000rem = 96px */
.inset-28	{ top: 7.000rem; right: 7.000rem; bottom: 7.000rem;  left: 7.000rem;  } /* 7.000rem = 112px */
.inset-32	{ top: 8.000rem; right: 8.000rem; bottom: 8.000rem;  left: 8.000rem;  } /* 8.000rem = 128px */
.inset-36	{ top: 9.000rem; right: 9.000rem; bottom: 9.000rem;  left: 9.000rem;  } /* 9.000rem = 144px */
.inset-40	{ top: 10.000rem; right: 10.000rem; bottom: 10.000rem;  left: 10.000rem;  } /* 10.000rem = 160px */
.inset-44	{ top: 11.000rem; right: 11.000rem; bottom: 11.000rem;  left: 11.000rem;  } /* 11.000rem = 176px */
.inset-48	{ top: 12.000rem; right: 12.000rem; bottom: 12.000rem;  left: 12.000rem;  } /* 12.000rem = 192px */
.inset-52	{ top: 13.000rem; right: 13.000rem; bottom: 13.000rem;  left: 13.000rem;  } /* 13.000rem = 208px */
.inset-56	{ top: 14.000rem; right: 14.000rem; bottom: 14.000rem;  left: 14.000rem;  } /* 14.000rem = 224px */
.inset-60	{ top: 15.000rem; right: 15.000rem; bottom: 15.000rem;  left: 15.000rem;  } /* 15.000rem = 240px */
.inset-64	{ top: 16.000rem; right: 16.000rem; bottom: 16.000rem;  left: 16.000rem;  } /* 16.000rem = 256px */
.inset-72	{ top: 18.000rem; right: 18.000rem; bottom: 18.000rem;  left: 18.000rem;  } /* 18.000rem = 224px */
.inset-80	{ top: 20.000rem; right: 20.000rem; bottom: 20.000rem;  left: 20.000rem;  } /* 20.000rem = 224px */
.inset-96	{ top: 24.000rem; right: 24.000rem; bottom: 24.000rem;  left: 24.000rem;  } /* 24.000rem = 224px */
.inset-auto	{ top: auto; right: auto; bottom: auto;  left: auto;  } 
.inset-1-2	{ top: 50%; right: 50%; bottom: 50%;  left: 50%;  } /* inset-1-2 = inset-1/2 */
// .inset-1-2	{ top: calc(100% / 2); right: calc(100% / 2); bottom: calc(100% / 2);  left: calc(100% / 2);  } /* inset-1-2 = inset-1/2 = inset-50%  */
.inset-1-3	{ top: 33.3333333%; right: 33.3333333%; bottom: 33.3333333%;  left: 33.3333333%;  } /* inset-1-3 = inset-1/3 = inset-1/2 = inset-50% */
// .inset-1-3	{ top: calc(100% / 3); right: calc(100% / 3); bottom: calc(100% / 3);  left: calc(100% / 3);  } /* inset-1-3 = inset-1/3 = inset-33.33333% */
.inset-2-3	{ top: 66.6666666%; right: 66.6666666%; bottom: 66.6666666%;  left: 66.6666666%;  } /* inset-2-3 = inset-2/3 = inset-66.6666666% */
// .inset-2-3	{ top: calc(200% / 3); right: calc(200% / 3); bottom: calc(200% / 3);  left: calc(200% / 3);  } /* inset-2-3 = inset-2/3 = inset-66.6666666% */
.inset-1-4	{ top: 25%; right: 25%; bottom: 25%;  left: 25%;  } /* inset-1-4 = inset-1/4 = inset-25% */
// .inset-1-4	{ top: calc(100% / 4); right: calc(100% / 4); bottom: calc(100% / 4);  left: calc(100% / 4);  }  /* inset-1-4 = inset-1/4 = inset-25% */
.inset-2-4	{ top: 50%; right: 50%; bottom: 50%;  left: 50%;  }  /* inset-2-4 = inset-2/4 = inset-50% */
// .inset-2-4	{ top: calc(200% / 4); right: calc(200% / 4); bottom: calc(200% / 4);  left: calc(200% / 4);  }  /* inset-2-4 = inset-2/4 = inset-50% */
.inset-3-4	{ top: 75%; right: 75%; bottom: 75%;  left: 75%;  }  /* inset-3-4 = inset-3/4 = inset-75% */
// .inset-3-4	{ top: calc(300% / 4); right: calc(300% / 4); bottom: calc(300% / 4);  left: calc(300% / 4);  }  /* inset-3-4 = inset-3/4 = inset-75% */
.inset-full	{ top: 100%; right: 100%; bottom: 100%;  left: 100%;  } 


// position Top / Bottom 
.inset-y-0	{ right: 0px; bottom: 0px; }
.inset-y-px	{ right: 1px; bottom: 1px; }
.inset-y-0_5	{ right: 0.125rem; bottom: 0.125rem; } /* 0.125rem = 2px */
.inset-y-1	{ right: 0.250rem; bottom: 0.250rem;  } /* 0.250rem = 4px */
.inset-y-1_5	{ right: 0.375rem; bottom: 0.375rem; } /* 0.375rem = 6px */
.inset-y-2	{ right: 0.500rem; bottom: 0.500rem;   } /* 0.500rem = 8px */
.inset-y-2_5	{ right: 0.625rem; bottom: 0.625rem;   } /* 0.625rem = 10px */
.inset-y-3	{ right: 0.750rem; bottom: 0.750rem; } /* 0.750rem = 12px */
.inset-y-3_5	{ right: 0.875rem; bottom: 0.875rem; } /* 0.875rem = 14px */
.inset-y-4	{ right: 1.000rem; bottom: 1.000rem;  } /* 1.000rem = 16px */
.inset-y-5	{ right: 1.250rem; bottom: 1.250rem; } /* 1.250rem = 20px */
.inset-y-6	{ right: 1.500rem; bottom: 1.500rem;  } /* 1.500rem = 24px */
.inset-y-7	{ right: 1.750rem; bottom: 1.750rem;   } /* 1.750rem = 28px */
.inset-y-8	{ right: 2.000rem; bottom: 2.000rem;  } /* 2.000rem = 32px */
.inset-y-9	{ top: 2.250rem; bottom: 2.250rem;  } /* 2.250rem = 36px */
.inset-y-10	{ top: 2.500rem; bottom: 2.500rem;  } /* 2.500rem = 40px */
.inset-y-11	{ top: 2.750rem; bottom: 2.750rem;  } /* 2.750rem = 44px */
.inset-y-12	{ top: 3.000rem; bottom: 3.000rem;  } /* 3.000rem = 48px */
.inset-y-14	{ top: 3.500rem; bottom: 3.500rem;  } /* 3.500rem = 56px */
.inset-y-16	{ top: 4.000rem; bottom: 4.000rem;  } /* 4.000rem = 64px */
.inset-y-20	{ top: 5.000rem; bottom: 5.000rem;  } /* 5.000rem = 80px */
.inset-y-24	{ top: 6.000rem; bottom: 6.000rem;  } /* 6.000rem = 96px */
.inset-y-28	{ top: 7.000rem; bottom: 7.000rem;  } /* 7.000rem = 112px */
.inset-y-32	{ top: 8.000rem; bottom: 8.000rem;  } /* 8.000rem = 128px */
.inset-y-36	{ top: 9.000rem; bottom: 9.000rem;  } /* 9.000rem = 144px */
.inset-y-40	{ top: 10.000rem; bottom: 10.000rem;   } /* 10.000rem = 160px */
.inset-y-44	{ top: 11.000rem; bottom: 11.000rem;   } /* 11.000rem = 176px */
.inset-y-48	{ top: 12.000rem; bottom: 12.000rem;   } /* 12.000rem = 192px */
.inset-y-52	{ top: 13.000rem; bottom: 13.000rem;   } /* 13.000rem = 208px */
.inset-y-56	{ top: 14.000rem; bottom: 14.000rem;   } /* 14.000rem = 224px */
.inset-y-60	{ top: 15.000rem; bottom: 15.000rem;   } /* 15.000rem = 240px */
.inset-y-64	{ top: 16.000rem; bottom: 16.000rem;   } /* 16.000rem = 256px */
.inset-y-72	{ top: 18.000rem; bottom: 18.000rem;   } /* 18.000rem = 224px */
.inset-y-80	{ top: 20.000rem; bottom: 20.000rem;   } /* 20.000rem = 224px */
.inset-y-96	{ top: 24.000rem; bottom: 24.000rem;   } /* 24.000rem = 224px */
.inset-y-auto	{ top: auto; bottom: auto; } 
.inset-y-1-2	{ top: 50%; bottom: 50%;  } /* inset-1-2 = inset-1/2 */
// .inset-y-1-2	{ top: calc(100% / 2); bottom: calc(100% / 2);  } /* inset-1-2 = inset-1/2 = inset-50%  */
.inset-y-1-3	{ top: 33.3333333%; bottom: 33.3333333%;  } /* inset-1-3 = inset-1/3 = inset-1/2 = inset-50% */
// .inset-y-1-3	{ top: calc(100% / 3);  bottom: calc(100% / 3); } /* inset-1-3 = inset-1/3 = inset-33.33333% */
.inset-y-2-3	{ top: 66.6666666%; bottom: 66.6666666%; } /* inset-2-3 = inset-2/3 = inset-66.6666666% */
// .inset-y-2-3	{ top: calc(200% / 3); bottom: calc(200% / 3); } /* inset-2-3 = inset-2/3 = inset-66.6666666% */
.inset-y-1-4	{ top: 25%; bottom: 25%; } /* inset-1-4 = inset-1/4 = inset-25% */
// .inset-y-1-4	{ top: calc(100% / 4); bottom: calc(100% / 4); }  /* inset-1-4 = inset-1/4 = inset-25% */
.inset-y-2-4	{ top: 50%; bottom: 50%; }  /* inset-2-4 = inset-2/4 = inset-50% */
// .inset-y-2-4	{ top: calc(200% / 4); bottom: calc(200% / 4); }  /* inset-2-4 = inset-2/4 = inset-50% */
.inset-y-3-4	{ top: 75%; bottom: 75%; }  /* inset-3-4 = inset-3/4 = inset-75% */
// .inset-y-3-4	{ top: calc(300% / 4); bottom: calc(300% / 4); }  /* inset-3-4 = inset-3/4 = inset-75% */
.inset-y-full	{ top: 100%; bottom: 100%; } 




// position Right / Left 
.inset-x-0	{ top: 0px; bottom: 0px; }
.inset-x-px	{ top: 1px; bottom: 1px; }
.inset-x-0_5	{ top: 0.125rem; bottom: 0.125rem; } /* 0.125rem = 2px */
.inset-x-1	{ top: 0.250rem; bottom: 0.250rem;  } /* 0.250rem = 4px */
.inset-x-1_5	{ top: 0.375rem; bottom: 0.375rem; } /* 0.375rem = 6px */
.inset-x-2	{ top: 0.500rem; bottom: 0.500rem;   } /* 0.500rem = 8px */
.inset-x-2_5	{ top: 0.625rem; bottom: 0.625rem;   } /* 0.625rem = 10px */
.inset-x-3	{ top: 0.750rem; bottom: 0.750rem; } /* 0.750rem = 12px */
.inset-x-3_5	{ top: 0.875rem; bottom: 0.875rem; } /* 0.875rem = 14px */
.inset-x-4	{ top: 1.000rem; bottom: 1.000rem;  } /* 1.000rem = 16px */
.inset-x-5	{ top: 1.250rem; bottom: 1.250rem; } /* 1.250rem = 20px */
.inset-x-6	{ top: 1.500rem; bottom: 1.500rem;  } /* 1.500rem = 24px */
.inset-x-7	{ top: 1.750rem; bottom: 1.750rem;   } /* 1.750rem = 28px */
.inset-x-8	{ top: 2.000rem; bottom: 2.000rem;  } /* 2.000rem = 32px */
.inset-x-9	{ top: 2.250rem; bottom: 2.250rem;  } /* 2.250rem = 36px */
.inset-x-10	{ top: 2.500rem; bottom: 2.500rem;  } /* 2.500rem = 40px */
.inset-x-11	{ top: 2.750rem; bottom: 2.750rem;  } /* 2.750rem = 44px */
.inset-x-12	{ top: 3.000rem; bottom: 3.000rem;  } /* 3.000rem = 48px */
.inset-x-14	{ top: 3.500rem; bottom: 3.500rem;  } /* 3.500rem = 56px */
.inset-x-16	{ top: 4.000rem; bottom: 4.000rem;  } /* 4.000rem = 64px */
.inset-x-20	{ top: 5.000rem; bottom: 5.000rem;  } /* 5.000rem = 80px */
.inset-x-24	{ top: 6.000rem; bottom: 6.000rem;  } /* 6.000rem = 96px */
.inset-x-28	{ top: 7.000rem; bottom: 7.000rem;  } /* 7.000rem = 112px */
.inset-x-32	{ top: 8.000rem; bottom: 8.000rem;  } /* 8.000rem = 128px */
.inset-x-36	{ top: 9.000rem; bottom: 9.000rem;  } /* 9.000rem = 144px */
.inset-x-40	{ top: 10.000rem; bottom: 10.000rem;   } /* 10.000rem = 160px */
.inset-x-44	{ top: 11.000rem; bottom: 11.000rem;   } /* 11.000rem = 176px */
.inset-x-48	{ top: 12.000rem; bottom: 12.000rem;   } /* 12.000rem = 192px */
.inset-x-52	{ top: 13.000rem; bottom: 13.000rem;   } /* 13.000rem = 208px */
.inset-x-56	{ top: 14.000rem; bottom: 14.000rem;   } /* 14.000rem = 224px */
.inset-x-60	{ top: 15.000rem; bottom: 15.000rem;   } /* 15.000rem = 240px */
.inset-x-64	{ top: 16.000rem; bottom: 16.000rem;   } /* 16.000rem = 256px */
.inset-x-72	{ top: 18.000rem; bottom: 18.000rem;   } /* 18.000rem = 224px */
.inset-x-80	{ top: 20.000rem; bottom: 20.000rem;   } /* 20.000rem = 224px */
.inset-x-96	{ top: 24.000rem; bottom: 24.000rem;   } /* 24.000rem = 224px */
.inset-x-auto	{ top: auto; bottom: auto; } 
.inset-x-1-2	{ top: 50%; bottom: 50%;  } /* inset-1-2 = inset-1/2 */
// .inset-x-1-2	{ top: calc(100% / 2); bottom: calc(100% / 2);  } /* inset-1-2 = inset-1/2 = inset-50%  */
.inset-x-1-3	{ top: 33.3333333%; bottom: 33.3333333%;  } /* inset-1-3 = inset-1/3 = inset-1/2 = inset-50% */
// .inset-x-1-3	{ top: calc(100% / 3);  bottom: calc(100% / 3); } /* inset-1-3 = inset-1/3 = inset-33.33333% */
.inset-x-2-3	{ top: 66.6666666%; bottom: 66.6666666%; } /* inset-2-3 = inset-2/3 = inset-66.6666666% */
// .inset-x-2-3	{ top: calc(200% / 3); bottom: calc(200% / 3); } /* inset-2-3 = inset-2/3 = inset-66.6666666% */
.inset-x-1-4	{ top: 25%; bottom: 25%; } /* inset-1-4 = inset-1/4 = inset-25% */
// .inset-x-1-4	{ top: calc(100% / 4); bottom: calc(100% / 4); }  /* inset-1-4 = inset-1/4 = inset-25% */
.inset-x-2-4	{ top: 50%; bottom: 50%; }  /* inset-2-4 = inset-2/4 = inset-50% */
// .inset-x-2-4	{ top: calc(200% / 4); bottom: calc(200% / 4); }  /* inset-2-4 = inset-2/4 = inset-50% */
.inset-x-3-4	{ top: 75%; bottom: 75%; }  /* inset-3-4 = inset-3/4 = inset-75% */
// .inset-x-3-4	{ top: calc(300% / 4); bottom: calc(300% / 4); }  /* inset-3-4 = inset-3/4 = inset-75% */
.inset-x-full	{ top: 100%; bottom: 100%; } 


.inset-x-0	{ left: 0px;  right: 0px; }
.inset-y-0	{ top: 0px; bottom: 0px;  }
.top-0	{top: 0px;}
.right-0	{right: 0px;}
.bottom-0	{bottom: 0px;}
.left-0	{left: 0px;}
