<p>add-customer works!</p>

<form #FormName="ngForm" (submit)="submitFormFunctionName(FormName)">
    <div>
        <input type="text" name="FirstName" [(ngModel)]="firstName" required minlength="10"> <br>  
        <!-- name = "key"  [(ngModel)]="value"          is manadatory for every input,select&option,textarea,etc-->
    </div>
    <div>
        <input type="text"  name="LastName" [(ngModel)]="lastName" required>
    </div>
    <div>
        <input type="checkbox" name="Check" [(ngModel)]="OK"  required> Accept all terms and condition
    </div>
    <div>
        <input type="radio" name="Radio" [(ngModel)]="radio">   Radio
    </div>

    <div>
        <select name="customerType" [(ngModel)]="customerType" required>
            <option value="premium">Premium</option>
            <option value="vip">VIP</option>
            <option value="economic">Economic</option>
        </select>
    </div>

    
    <div>
        <mat-form-field appearance="outline" class=" _w-50  _ml-10">
            <mat-label>Status</mat-label>
            <mat-select  [multiple]="false" name="StatusValue" [(ngModel)]="statusArr" [required]="true">
        
                <mat-option *ngFor="let groupFilter of status" [value]="groupFilter.value">
                    {{groupFilter.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    
  
  <div>
    <mat-form-field appearance="outline" class="  _w-50 _ml-10">
        <mat-label>Pods</mat-label>
        <mat-select [multiple]="true" name="PodsValue" [(ngModel)]="podsArr" [required]="true">
            <mat-option *ngFor="let groupFilter of pods" [value]="groupFilter.value">
                {{groupFilter.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
  </div>
  
  <div>
        <mat-form-field appearance="outline">
        <mat-label>Favorite food</mat-label>
        <mat-select name="foodValue" [(ngModel)]="foodArr" [required]="true" >
          <mat-option *ngFor="let food of foods" [value]="food.value" >
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  
  <div>
    <mat-slide-toggle name="toggle" [(ngModel)]="togglevalue" >Slide me!</mat-slide-toggle>
  </div>


    <input type="submit" name="SUBMIT" value="Add customers submit" [disabled]="!FormName.valid"><br>
    <!-- <button type="submit">Add customers</button> -->

    <!-- <input type="submit" ><br> -->
   <button  (click)="resetForm(FormName)">Reset Form</button>
   <button  (click)="setForm(FormName)">Set Form</button>
</form>

your input is :-        {{firstName}} 






<!-- name = "key"  [(ngModel)]="value"          is manadatory for every     input,select&option,textarea,toggle,etc

formsValue.value : {Check : true, FirstName : " raj shinghania ", LastName :  " singh", PodsValue : ['zeroReady', 'partialReady'], Radio : undefined, StatusValue :  "FAILED", customerType : "economic", foodValue : "steak-0" , toggle : true }

formsValue.form.value : {Check : true, FirstName : " raj shinghania ", LastName :  " singh", PodsValue : ['zeroReady', 'partialReady'], Radio : undefined, StatusValue :  "FAILED", customerType : "economic", foodValue : "steak-0" , toggle : true }

formsValue.form.value : {
                            Check : true,
                            FirstName : " raj shinghania " ,
                            LastName :  " singh",
                            PodsValue : ['zeroReady', 'partialReady'],
                            Radio : false,
                            StatusValue :  "FAILED",
                            customerType : "economic",
                            foodValue : "steak-0" ,
                            toggle : true,
                            [[Prototype]] : Object
                        }
formsValue.value :    {
                          Check : true,
                          FirstName : " raj shinghania ",
                          LastName :  " singh",
                          PodsValue : ['zeroReady', 'partialReady'],
                          Radio : false,
                          StatusValue :  "FAILED"
                          customerType : "economic",
                          foodValue : "steak-0" ,
                          toggle : true,
                          [[Prototype]] : Object
                      }
-->




