// Margin Left-Right
.mx-0	{margin-left: 0px;margin-right: 0px;}
.mx-px	{margin-left: 1px;margin-right: 1px;}
.mx-0\.5	{margin-left: 0.125rem; margin-right: 0.125rem; /* 2px */}
.mx-1	{margin-left: 0.25rem; margin-right: 0.25rem; /* 4px */}
.mx-1\.5	{margin-left: 0.375rem; margin-right: 0.375rem; /* 6px */}
.mx-2	{margin-left: 0.5rem; margin-right: 0.5rem; /* 8px */}
.mx-2\.5	{margin-left: 0.625rem; margin-right: 0.625rem; /* 10px */}
.mx-3	{margin-left: 0.75rem; margin-right: 0.75rem; /* 12px */}
.mx-3\.5	{margin-left: 0.875rem; margin-right: 0.875rem; /* 14px */}
.mx-4	{margin-left: 1rem; margin-right: 1rem; /* 16px */}
.mx-5	{margin-left: 1.25rem; margin-right: 1.25rem; /* 20px */}
.mx-6	{margin-left: 1.5rem; margin-right: 1.5rem; /* 24px */}
.mx-7	{margin-left: 1.75rem; margin-right: 1.75rem; /* 28px */}
.mx-8	{margin-left: 2rem; margin-right: 2rem; /* 32px */}
.mx-9	{margin-left: 2.25rem; margin-right: 2.25rem; /* 36px */}
.mx-10	{margin-left: 2.5rem; margin-right: 2.5rem; /* 40px */}
.mx-11	{margin-left: 2.75rem; margin-right: 2.75rem; /* 44px */}
.mx-12	{margin-left: 3rem; margin-right: 3rem; /* 48px */}
.mx-14	{margin-left: 3.5rem; margin-right: 3.5rem; /* 56px */}
.mx-16	{margin-left: 4rem; margin-right: 4rem; /* 64px */}
.mx-20	{margin-left: 5rem; margin-right: 5rem; /* 80px */}
.mx-24	{margin-left: 6rem; margin-right: 6rem; /* 96px */}
.mx-28	{margin-left: 7rem; margin-right: 7rem; /* 112px */}
.mx-32	{margin-left: 8rem; margin-right: 8rem; /* 128px */}
.mx-36	{margin-left: 9rem; margin-right: 9rem; /* 144px */}
.mx-40	{margin-left: 10rem; margin-right: 10rem; /* 160px */}
.mx-44	{margin-left: 11rem; margin-right: 11rem; /* 176px */}
.mx-48	{margin-left: 12rem; margin-right: 12rem; /* 192px */}
.mx-52	{margin-left: 13rem; margin-right: 13rem; /* 208px */}
.mx-56	{margin-left: 14rem; margin-right: 14rem; /* 224px */}
.mx-60	{margin-left: 15rem; margin-right: 15rem; /* 240px */}
.mx-64	{margin-left: 16rem; margin-right: 16rem; /* 256px */}
.mx-72	{margin-left: 18rem; margin-right: 18rem; /* 288px */}
.mx-80	{margin-left: 20rem; margin-right: 20rem; /* 320px */}
.mx-96	{margin-left: 24rem; margin-right: 24rem; /* 384px */}