// Padding Right
.pr-0	{padding-right: 0px;}
.pr-px	{padding-right: 1px;}
.pr-0\.5	{padding-right: 0.125rem; /* 2px */}
.pr-1	{padding-right: 0.25rem; /* 4px */}
.pr-1\.5	{padding-right: 0.375rem; /* 6px */}
.pr-2	{padding-right: 0.5rem; /* 8px */}
.pr-2\.5	{padding-right: 0.625rem; /* 10px */}
.pr-3	{padding-right: 0.75rem; /* 12px */}
.pr-3\.5	{padding-right: 0.875rem; /* 14px */}
.pr-4	{padding-right: 1rem; /* 16px */}
.pr-5	{padding-right: 1.25rem; /* 20px */}
.pr-6	{padding-right: 1.5rem; /* 24px */}
.pr-7	{padding-right: 1.75rem; /* 28px */}
.pr-8	{padding-right: 2rem; /* 32px */}
.pr-9	{padding-right: 2.25rem; /* 36px */}
.pr-10	{padding-right: 2.5rem; /* 40px */}
.pr-11	{padding-right: 2.75rem; /* 44px */}
.pr-12	{padding-right: 3rem; /* 48px */}
.pr-14	{padding-right: 3.5rem; /* 56px */}
.pr-16	{padding-right: 4rem; /* 64px */}
.pr-20	{padding-right: 5rem; /* 80px */}
.pr-24	{padding-right: 6rem; /* 96px */}
.pr-28	{padding-right: 7rem; /* 112px */}
.pr-32	{padding-right: 8rem; /* 128px */}
.pr-36	{padding-right: 9rem; /* 144px */}
.pr-40	{padding-right: 10rem; /* 160px */}
.pr-44	{padding-right: 11rem; /* 176px */}
.pr-48	{padding-right: 12rem; /* 192px */}
.pr-52	{padding-right: 13rem; /* 208px */}
.pr-56	{padding-right: 14rem; /* 224px */}
.pr-60	{padding-right: 15rem; /* 240px */}
.pr-64	{padding-right: 16rem; /* 256px */}
.pr-72	{padding-right: 18rem; /* 288px */}
.pr-80	{padding-right: 20rem; /* 320px */}
.pr-96	{padding-right: 24rem; /* 384px */}