@mixin navBarIcon($iconName) {
    background: url("/assets/icons/"+$iconName+".svg") no-repeat;
    height: 20px !important;
    width: 20px !important;
    margin: 0 10px 0px 0;    
    line-height: 1em;
    display: inline-block;
    background-size: cover !important;
    background-position: center !important;
    object-fit: cover;
}

@mixin primaryIcon($iconName) {
    background: url("/assets/icons/"+$iconName+".svg") no-repeat !important;
    height: 22px !important;
    width: 22px !important;
    margin: 0 5px !important;
    line-height: 1em !important;
    display: inline-block !important;
    background-size: cover !important;
    background-position: center !important;
    object-fit: cover;
}

@mixin rawIcon($iconName){
    background: url("/assets/icons/"+$iconName+".svg") no-repeat !important;
    line-height: 1em;
    display: inline-block !important;
    background-size: cover !important;
    background-position: center !important;
    object-fit: cover;
}

._dynamic-icon{
    width: 20px;
    height: 20px;
    margin: 0 5px !important;
    line-height: 1em !important;
    display: inline-block !important;
    background-size: cover !important;
    background-position: center !important;
    object-fit: cover;
}
/********* Navbar icons definition ***********/
._kubernetes-icon{
    @include navBarIcon('kubernetes');
}

._namespace-icon{
    @include navBarIcon('namespace');
}

._node-list-icon{
    @include navBarIcon('node-list');
}

._release-train-icon{
    @include navBarIcon('release-train');
}

._release-train-deployment-icon{
    @include navBarIcon('release-train-deployment');
}

._service-release-icon{
    @include navBarIcon('service-release');
}

._services-icon{
    @include navBarIcon('services');
}

._navbar-template-icon{
    @include navBarIcon("templates");
}

._navbar-logs-icon{
    @include navBarIcon("log");
}

._navbar-monitoring-icon{
    @include navBarIcon("dashboard");
}

/********* Navbar icons definition ends***********/

/********* action icons definition ***********/

._add-service-release-icon{
    @include primaryIcon("add-service-release")
}

._config-icon{
    @include primaryIcon("config")
}

._copy-release-train-icon{
    @include primaryIcon("copy-release-train")
}

._delete-icon{
    @include primaryIcon("delete")
}

._deploy-icon{
    @include primaryIcon("deploy")
}

._edit-icon{
    @include primaryIcon("edit")
}

._lock-icon{
    @include primaryIcon("lock");
    background-size: 65% !important;
}
._unlock-icon{
    @include primaryIcon("unlock");
    background-size: 65% !important;
}

._map-dependencies-icon{
    @include primaryIcon("map-dependencies")
}

._redeploy-icon{
    @include primaryIcon("redeploy")
}

._refresh-icon{
    @include primaryIcon("refresh-service-list")
}

._templates-icon{
    @include primaryIcon("templates")
}

._log-icon{
    @include primaryIcon("log")
}

._roles-icon{
    @include primaryIcon("roles")
}

._menu-icon{
    @include primaryIcon("kebab-menu")
}

._menu-icon-black{
    @include primaryIcon("kebab-menu");
    filter: brightness(0);
}

._view-spec-icon{
    @include primaryIcon("view-spec")
}

._actuators-icon{
    @include primaryIcon("actuators")
}

._warning-icon{
    @include primaryIcon("warning")
}

._add-icon{
    @include primaryIcon("add")
}

._back-icon{
    @include primaryIcon("back")
}

._fullscreen-icon{
    @include primaryIcon("fullscreen")
}

._menu-open-icon{
    @include primaryIcon("menu-open")
}

._menu-close-icon{
    @include primaryIcon("menu-close")
}

._logout-icon{
    @include primaryIcon("logout");
    filter: brightness(0)
}

._k8s-service-icon{
    @include primaryIcon("kubernetes");
}

._deployment-history-icon{
    @include primaryIcon("deployment-history");
}

._swagger-icon{
    @include primaryIcon("swagger");
}

._close-icon{
    @include primaryIcon("menu-close");
    filter: brightness(0);
}
/********* action icons definition ends ***********/

/********* raw icons definition ***********/

._success-raw{
    @include rawIcon("success");
}

._pending-raw{
    @include rawIcon("pending");
}

._error-raw{
    @include rawIcon("error");
}

._warning-raw{
    @include rawIcon("warning");
}

._filter-icon-raw{
    @include rawIcon("filter");
}

._info-icon-raw{
    @include rawIcon("info");
}

._quick-filter-raw{
    @include rawIcon("tune")
}

._up-icon-raw{
    @include rawIcon("north");
}

._down-icon-raw{
    @include rawIcon("south");
}
/********* raw icons definition ends ***********/