// Margin Right
.mr-0	{margin-right: 0px;}
.mr-px	{margin-right: 1px;}
.mr-0\.5	{margin-right: 0.125rem; /* 2px */}
.mr-1	{margin-right: 0.25rem; /* 4px */}
.mr-1\.5	{margin-right: 0.375rem; /* 6px */}
.mr-2	{margin-right: 0.5rem; /* 8px */}
.mr-2\.5	{margin-right: 0.625rem; /* 10px */}
.mr-3	{margin-right: 0.75rem; /* 12px */}
.mr-3\.5	{margin-right: 0.875rem; /* 14px */}
.mr-4	{margin-right: 1rem; /* 16px */}
.mr-5	{margin-right: 1.25rem; /* 20px */}
.mr-6	{margin-right: 1.5rem; /* 24px */}
.mr-7	{margin-right: 1.75rem; /* 28px */}
.mr-8	{margin-right: 2rem; /* 32px */}
.mr-9	{margin-right: 2.25rem; /* 36px */}
.mr-10	{margin-right: 2.5rem; /* 40px */}
.mr-11	{margin-right: 2.75rem; /* 44px */}
.mr-12	{margin-right: 3rem; /* 48px */}
.mr-14	{margin-right: 3.5rem; /* 56px */}
.mr-16	{margin-right: 4rem; /* 64px */}
.mr-20	{margin-right: 5rem; /* 80px */}
.mr-24	{margin-right: 6rem; /* 96px */}
.mr-28	{margin-right: 7rem; /* 112px */}
.mr-32	{margin-right: 8rem; /* 128px */}
.mr-36	{margin-right: 9rem; /* 144px */}
.mr-40	{margin-right: 10rem; /* 160px */}
.mr-44	{margin-right: 11rem; /* 176px */}
.mr-48	{margin-right: 12rem; /* 192px */}
.mr-52	{margin-right: 13rem; /* 208px */}
.mr-56	{margin-right: 14rem; /* 224px */}
.mr-60	{margin-right: 15rem; /* 240px */}
.mr-64	{margin-right: 16rem; /* 256px */}
.mr-72	{margin-right: 18rem; /* 288px */}
.mr-80	{margin-right: 20rem; /* 320px */}
.mr-96	{margin-right: 24rem; /* 384px */}