    <div class="_flex-box _h-100 _ai-stretch">
        <div class="_flex-column _w-50 _h-100 _ml-10">
            <div class="artwork _flex-1"></div>
            <div class="" *ngIf="this.rtData?.activeLockUnlockInfo?.type!=='INDEFINITE'&&rtData?.activeLockUnlockInfo?.endTime">
                <h3 class="_text-center _mb-0">Unlocks in</h3>
                <h1 class="_text-center" *ngIf="days===0">{{hour}}:{{minute<10?"0"+minute:minute}}:{{second<10?"0"+second:second}}</h1>
                <ng-container *ngIf="days>0">
                    <h1 class="_text-center _mb-0">{{rtData?.activeLockUnlockInfo?.endTime | fromnow:true}}</h1>
                    <div class="_text-center _mt10 _status-text">{{rtData?.activeLockUnlockInfo?.endTime | formatteddate:'MMM D, YYYY h:mm:ss A':true}}</div>
                </ng-container>
            </div>
        </div>
        <div class="_w-50 _flex-column _mt-10 _pl-10 _pr-10 _overflow-hidden">
            <div class="_flex-box _jc-sb _ai-start _mt-10">
                <div class="">
                    <div class="_heading_1 ">{{rtData.deploymentNamespace}}</div>
                    <div class="_mt-5 _red-text">Deployment is locked for this Namespace.</div>
                </div>
                <div class="_close-icon _cursor-pointer"mat-dialog-close></div>
            </div>
            <div class="_flex-box _mt-20">
                <div class="_mr-20"> 
                    <div class="_sub-heading _font-14">Locked by</div> 
                    <div class="secondary-text">
                        {{rtData?.activeLockUnlockInfo?.lockedBy | employeename:employeeData}}
                    </div>
                </div>
                <div class="_mr-20">
                    <div class="_sub-heading _font-14">Lock Type</div>
                    <div class="secondary-text _text-capitalize">{{rtData?.activeLockUnlockInfo?.type || "Not Available"}}</div>
                </div>
                <div class="" *ngIf="rtData?.activeLockUnlockInfo?.startTime">
                    <div class="_sub-heading _font-14">Locked At</div>
                    <div class="secondary-text">{{rtData?.activeLockUnlockInfo?.startTime | formatteddate:'MMM D, YYYY h:mm:ss A':true}}</div>
                </div>
            </div>
            
            <div class="_mt-20"> 
                <div class="_sub-heading _font-14" >Lock Description</div> 
                <div class="secondary-text">
                    <span *ngIf="rtData?.activeLockUnlockInfo?.actionDescription else noMsg"> {{rtData?.activeLockUnlockInfo?.actionDescription}}</span>
                    <ng-template #noMsg> No Message Found</ng-template>
                </div>
            </div>
            <div class="_w-100 _mt-20 _flex-1 active-unlocks">
                <div>
                    <mat-accordion class="example-headers-align">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title class="_h-100">
                                    <div [matBadge]="scheduledUnlocks.length"  matBadgeSize="small">Scheduled Unlocks</div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div >
                                <div class="unlock-card _flex-column _pt-10 _pb-10 _pl-10 _pr-10 _mt-10 _mb-10"
                                    *ngFor="let unlock of scheduledUnlocks">
                                    <div class="_status-text _flex-box _jc-sb">
                                        <div>
                                            <div>From</div>
                                            <div>{{unlock.actionStartTime | formatteddate:'MMM D, YYYY h:mm:ss A':true}}</div>
                                        </div>
                                        <div>
                                            <div>To</div>
                                            <div>{{unlock.actionEndTime | formatteddate:'MMM D, YYYY h:mm:ss A':true}}</div>
                                        </div>
                                    </div>
                                    <div class="_flex-box _jc-sb _ai-c">
                                        <div class="_flex-1 _status-text _text-italic">{{unlock.actionDescription}}</div>
                                        <!-- <div class="actions _flex-box _ai-c">
                                            <div class="_delete-raw action-icon _cursor-pointer" (click)="deleteScheduledUnlock(unlock)"></div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>