@import "../../../../assets/css/variables";

.overlay{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
}

.overlay-show{
    display: block;
}

.sidebar{
    position: absolute;
    right: -100%;
    top: 0;
    height: 100%;
    width: 425px;
    background-color: $white-color;
    box-shadow: -2px 2px 20px $box-shadow-color;
    transition: all 0.3s linear;
}

.sidebar-show{
    right: 0;
}

.footer{
    border-top: 1px solid $border-color;
}